<div ng-controller="NewServiceController as controller">
  <div class="service_create_identity edit">
    <p class="item_info_service">
      For your: <span><%= @service.item.title %>, </span>
      <% @service.item.characteristics_ordered.each do |characteristic| %>
      <span> <%= characteristic.value %></span>
      <% end %>
    </p>
  </div>

  <%= render @service.road? ? "road_form_edit" : 'form_edit' %>
</div>
