<div ng-controller="NewServiceController as controller">
  <div class="service_create_identity">
    <%= link_to image_tag("back_link.png"), dashboard_path %><h1><%= t(".new_service") %></h1>
    <p class="item_info_service">
        <%= t(".for_your") %> <span><%= @item.title %>, </span>
         <% @item.characteristics_ordered.each do |characteristic| %>
          <span> <%= characteristic.value %></span>
        <% end %>
     </p>
  </div>
  <%= render 'form' %>
</div>
