<div class="main_page_background"></div>
<div class="lead_background" viewport="window">
  <div class="main_content first" viewport-enter="contentBlockClass = ''" viewport-leave="contentBlockClass = 'active'">
    <div class="logo_lead">
      <%= image_tag "logo_mobile.png" %><span>Distodi</span>
    </div>
    <div class="menu_list">
      <ul>
        <li>
          <%= link_to t(".sign_up"), new_user_registration_path %>
        </li>
        <li>
          <%= link_to t(".faq"), static_pages_about_path %>
        </li>
        <li>
          <%= link_to t(".for_investors"), static_pages_for_investors_path %>
        </li>
      </ul>
    </div>
    <div class="form_lead" viewport-enter="earlyAccessPanelClass = ''" viewport-leave="earlyAccessPanelClass = 'slideout'">
      <h1>Distodi.</h1>
      <h1><%= t(".service_book") %></h1>
      <h2><%= t(".best_way") %></h2>
      <div class="sign_up_mobile_button">
        <%= link_to t(".sign_up_free"), new_user_registration_path %>
      </div>
    </div>
    <div class="down_icon">
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="form_lead right" ng-class="earlyAccessPanelClass">
      <div class="form home">
        <p>
          <%= t(".send_us") %>
        </p>
        <div class="sign_in_content">
          <div class="left_form home">
            <p class="sign_title"><%= t(".sign_in") %></p>
            <span class="sign_text"><%= t(".create").html_safe %></span>
            <div class="signup_form">
              <div class="wrapper homepage">
                <input type="radio" name="forms" id="form_user" checked>
                <label for="form_user"><%= t(".personal") %></label>
                <input type="radio" name="forms" id="form_company">
                <label for="form_company"><%= t(".corporate") %></label>
                <div class="tabs_content">
                  <div class="tab_item">
                    <div class="user_form">
                      <%= form_for(:user, as: "user", url: new_user_session_path) do |f| %>
                        <p class="alert"><%= alert %></p>
                        <div class="mail home">
                          <%= f.email_field :email, autofocus: true, placeholder: t(".email") %>
                        </div>
                        <div class="password home">
                          <input autocomplete="off" placeholder="<%= t(".pass") %>" type="{{type}}" name="user[password]" id="user_password">
                        </div>
                        <div class="select remember_me">
                          <label>
                            <input type="checkbox" />
                            <i>
                              <%= image_tag "select.png" %>
                            </i>
                          </label>
                        </div>
                        <span><%= t(".remember_me") %></span>
                        <div class="signup_but home">
                          <%= f.submit t(".sign_in") %>
                          <div class="google_sign_in">
                            <%= link_to t(".Sign_in_Google"), user_google_omniauth_authorize_path, class: "login-button google" %>
                            <%= image_tag "google_favicon.png" %>
                          </div>
                        </div>
                      <% end %>
                      <div class="signup_info_right home">
                        <%= link_to t(".forgot"), new_password_path("user") %>
                      </div>
                    </div>
                    <div class="user_form corporate">
                      <%= form_for(:company, as: "company", url: new_company_session_path) do |f| %>
                        <p class="alert"><%= alert %></p>
                        <div class="mail home">
                          <%= f.email_field :email, autofocus: true, placeholder: t(".email") %>
                        </div>
                        <div class="password home">
                          <input autocomplete="off" placeholder="<%= t(".pass") %>" type="{{type}}" name="company[password]" id="company_password">
                        </div>
                        <div class="select remember_me">
                          <label>
                            <input type="checkbox" />
                            <i>
                              <%= image_tag "select.png" %>
                            </i>
                          </label>
                        </div>
                        <span><%= t(".remember_me") %></span>
                        <div class="signup_but home">
                          <%= f.submit t(".sign_in") %>
                          <div class="google_sign_in">
                            <%= link_to t(".Sign_in_Google"), company_google_omniauth_authorize_path, class: "login-button google" %>
                            <%= image_tag "google_favicon.png" %>
                          </div>
                        </div>
                      <% end %>
                      <div class="signup_info_right home">
                        <%= link_to t(".forgot"), new_password_path("company") %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content_block" ng-class="contentBlockClass">
    <p class="title">
      <%= t(".collect_all") %>
    </p>
    <div class="items">
      <div class="item">
        <span><%= t(".car") %></span>
        <%= image_tag "Shape1x.png" %>
          <%= image_tag "car_item_main_page.png" %>
      </div>
      <div class="item">
        <span><%= t(".moto") %></span>
        <%= image_tag "Shape1x.png" %>
          <%= image_tag "moto_item_main_page.png" %>
      </div>
      <div class="item">
        <span><%= t(".tractor") %></span>
        <%= image_tag "Shape1x.png" %>
          <%= image_tag "tractor_item_main_page.png" %>
      </div>
      <div class="item">
        <span><%= t(".home") %></span>
        <%= image_tag "Shape1x.png" %>
          <%= image_tag "home_item_main_page.png" %>
      </div>
      <div class="item">
        <span><%= t(".bike") %></span>
        <%= image_tag "Shape1x.png" %>
          <%= image_tag "bike_item_main_page.png" %>
      </div>
      <div class="item">
        <span><%= t(".boat") %></span>
        <%= image_tag "Shape1x.png" %>
          <%= image_tag "boat_item_main_page.png" %>
      </div>
      <div class="item">
        <span><%= t(".plane") %></span>
        <%= image_tag "Shape1x.png" %>
          <%= image_tag "plane_item_main_page.png" %>
      </div>
      <div class="item">
        <span><%= t(".heli") %></span>
        <%= image_tag "Shape1x.png" %>
          <%= image_tag "heli_item_main_page.png" %>
      </div>
    </div>
    <div class="items_mobile">
      <span><%= t(".car") %></span>
      <span><%= t(".boat") %></span>
      <span><%= t(".moto") %></span>
      <span><%= t(".bike") %></span>
      <span><%= t(".tractor") %></span>
      <span><%= t(".plane") %></span>
      <span><%= t(".home") %></span>
      <span><%= t(".etc") %></span>
    </div>
    <div class="first_box"></div>
    <div class="second_box"></div>
    <div class="last_box">
      <%= image_tag "logo_menu.png" %>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="items_icons">
          <div class="item_icon first">
            <%= image_tag "car_icon.png" %>
          </div>
          <div class="item_icon">
            <%= image_tag "moto_icon.png" %>
          </div>
          <div class="item_icon tractor">
            <%= image_tag "tractor_icon.png" %>
          </div>
          <div class="item_icon home">
            <%= image_tag "home_icon.png" %>
          </div>
          <div class="item_icon">
            <%= image_tag "bike_icon.png" %>
          </div>
          <div class="item_icon boat">
            <%= image_tag "boat_icon.png" %>
          </div>
          <div class="item_icon plane">
            <%= image_tag "plane_icon.png" %>
          </div>
          <div class="item_icon">
            <%= image_tag "heli_icon.png" %>
          </div>
        </div>
    </div>
    <div class="preview_content">
      <span><%= t(".skoda") %></span>
      <p><strong>1-50</strong>
        <%= t(".services") %> <strong>154</strong></p>
      <div class="button_icon"></div>
      <div class="icon_service"></div>
      <div class="icon_service second"></div>
      <div class="icon_service three"></div>
      <div class="icon_service four"></div>
      <div class="function_circle">+</div>
      <div class="function_circle">
        <%= image_tag "pen_main_icon.png" %>
      </div>
      <div class="function_circle">
        <%= image_tag "send_main_icon.png" %>
      </div>
      <h1><%= t(".create_manage") %></h1>
      <div class="info">
        <p>
          <%= t(".distodi_brings") %>
        </p>
      </div>
      <table class="service_example">
        <tr>
          <td>
            <div class="box"></div>
          </td>
          <td>
            <%= t(".emission_control") %>
          </td>
          <td>
            <%= image_tag "control-action.png" %>Control</td>
          <td>
            <%= image_tag "status-pending.png" %>
          </td>
          <td>
            <%= t(".skoda") %>
          </td>
          <td>CO599-0002-250417-WWMT</td>
          <td>10 Mar 2017</td>
          <td>EUR 100.00</td>
        </tr>
        <tr>
          <td>
            <div class="box"></div>
          </td>
          <td>
            <%= t(".air") %>
          </td>
          <td>
            <%= image_tag "control-action.png" %>Control</td>
          <td>
            <%= image_tag "status-approved.png" %>
          </td>
          <td>
            <%= t(".skoda") %>
          </td>
          <td>CO599-0002-250417-WWMR</td>
          <td>17 Apr 2017</td>
          <td>EUR 100.00</td>
        </tr>
        <tr>
          <td>
            <%= image_tag "service_active.png" %>
          </td>
          <td>
            <%= t(".emission_control") %>
          </td>
          <td>
            <%= image_tag "control-action.png" %>Control</td>
          <td>
            <%= image_tag "status-approved.png" %>
          </td>
          <td>
            <%= t(".skoda") %>
          </td>
          <td>CO599-0002-250417-WWMZ</td>
          <td>13 Aug 2017</td>
          <td>EUR 300.00</td>
        </tr>
        <tr>
          <td>
            <div class="box"></div>
          </td>
          <td>
            <%= t(".brakes") %>
          </td>
          <td>
            <%= image_tag "tuning-action.png" %>Tuning</td>
          <td>
            <%= image_tag "status-declined.png" %>
          </td>
          <td>
            <%= t(".skoda") %>
          </td>
          <td>CO599-0002-250417-WWMX</td>
          <td>22 Sep 2017</td>
          <td>EUR 250.00</td>
        </tr>
        <tr>
          <td>
            <div class="box"></div>
          </td>
          <td>
            <%= t(".emission_control") %>
          </td>
          <td>
            <%= image_tag "tuning-action.png" %>Tuning</td>
          <td>
            <%= image_tag "status-approved.png" %>
          </td>
          <td>
            <%= t(".skoda") %>
          </td>
          <td>CO599-0002-250417-WWMW</td>
          <td>03 Oct 2017</td>
          <td>EUR 180.00</td>
        </tr>
        <tr>
          <td>
            <div class="box"></div>
          </td>
          <td>
            <%= t(".tires") %>
          </td>
          <td>
            <%= image_tag "control-action.png" %>Control</td>
          <td>
            <%= image_tag "status-pending.png" %>
          </td>
          <td>
            <%= t(".skoda") %>
          </td>
          <td>CO599-0002-250417-WWMM</td>
          <td>23 Dec 2017</td>
          <td>EUR 267.00</td>
        </tr>
      </table>
      <div class="service_example_mobile">
        <div class="service">
          <div class="box"></div>
          <span><%= t(".emission_control") %></span>
          <%= image_tag "control-action.png" %>
            <%= image_tag "status-approved.png" %>
              <span><%= t(".my_way") %></span>
              <span>17 Apr 2017</span>
              <span>EUR 224.00</span>
        </div>
      </div>
    </div>
    <div class="info_block home">
      <div class="content">
        <div class="block">
          <%= image_tag "icon_bike_green.png" %>
          <div class="info_text">
            <p><%= t(".bike_information") %></p>
            <span><%= t(".emba") %></span>
          </div>
        </div>
        <div class="photo">
          <%= image_tag "many_bikes.jpg" %>
        </div>
        <div class="car_block">
          <%= image_tag "toyota.jpg" %>
          <div class="info_cars">
            <div class="text">
              <p><%= t(".car_history") %></p>
              <span><%= t(".kwik") %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="ui_examples">
        <input type="radio" name="user_type" id="personal" checked>
        <label for="personal"><%= t(".personal") %></label>
        <input type="radio" name="user_type" id="corporate">
        <label for="corporate"><%= t(".corporate") %></label>
          <div>
          <div class="window">
            <div class="content">
              <%= image_tag "user_ui.png" %>
              <div class="text">
                <%= t(".personal_description").html_safe %>
                <%= image_tag "user_ui_mobile.png", class: "mobile_ui" %>
              </div>
            </div>
            <div class="content corporate">
              <%= image_tag "company_ui.png" %>
              <div class="text">
                <%= t(".company_description").html_safe %>
                <%= image_tag "company_ui_mobile.png", class: "mobile_ui" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="key_features">
      <h2><%= t(".key_features") %></h2>
      <div class="feature">
        <div class="circle">
          <%= image_tag "clock.png" %>
        </div>
        <p>
          <%= t(".fast") %>
        </p>
        <span><%= t(".brings_fast") %></span>
      </div>
      <div class="feature">
        <div class="circle">
          <%= image_tag "keys.png" %>
        </div>
        <p>
          <%= t(".b2b") %>
        </p>
        <span><%= t(".brings_b2b") %></span>
      </div>
      <div class="feature">
        <div class="circle">
          <%= image_tag "packet.png" %>
        </div>
        <p>
          <%= t(".confirmation") %>
        </p>
        <span><%= t(".brings_conf") %></span>
      </div>
      <div class="feature">
        <div class="circle">
          <%= image_tag "magic.png" %>
        </div>
        <p>
          <%= t(".universality") %>
        </p>
        <span><%= t(".brings_univer") %></span>
      </div>
      <div class="feature">
        <div class="circle">
          <%= image_tag "android.png" %>
        </div>
        <p>
          <%= t(".iot") %>
        </p>
        <span><%= t(".brings_andr") %></span>
      </div>
      <div class="feature">
        <div class="circle">
          <%= image_tag "ring_green.png" %>
        </div>
        <p>
          <%= t(".alerts") %>
        </p>
        <span><%= t(".brings_alert") %></span>
      </div>
      <div class="feature">
        <div class="circle">
          <%= image_tag "social.png" %>
        </div>
        <p>
          <%= t(".social") %>
        </p>
        <span><%= t(".brings_social") %></span>
      </div>
      <div class="feature">
        <div class="circle">
          <%= image_tag "calendar.png" %>
        </div>
        <p>
          <%= t(".google") %>
        </p>
        <span><%= t(".brings_calend") %></span>
      </div>
      <div class="feature">
        <div class="circle">
          <%= image_tag "pdf.png" %>
        </div>
        <p>
          <%= t(".pdf") %>
        </p>
        <span><%= t(".brings_pdf") %></span>
      </div>
      <div class="feature">
        <div class="circle">
          <%= image_tag "validation.png" %>
        </div>
        <p>
          <%= t(".data") %>
        </p>
        <span><%= t(".brings_data") %></span>
      </div>
      <div class="feature">
        <div class="circle">
          <%= image_tag "crm.png" %>
        </div>
        <p>
          <%= t(".crm") %>
        </p>
        <span><%= t(".brings_crm") %></span>
      </div>
      <div class="feature">
        <div class="circle">
          <%= image_tag "transfer_icon.png" %>
        </div>
        <p>
          <%= t(".transfer") %>
        </p>
        <span><%= t(".brings_transfer") %></span>
      </div>
    </div>
    <h3><%= t(".key_features") %></h3>
    <div class="slider_mobile">
      <div class="container_slider">
        <div id="owl-example" class="owl-carouseld">
          <div class="item">
            <div class="feature">
              <div class="circle">
                <%= image_tag "clock.png" %>
              </div>
              <p>
                <%= t(".fast") %>
              </p>
              <span><%= t(".brings_fast") %></span>
            </div>
            <div class="feature">
              <div class="circle">
                <%= image_tag "keys.png" %>
              </div>
              <p>
                <%= t(".b2b") %>
              </p>
              <span><%= t(".brings_b2b") %></span>
            </div>
            <div class="feature">
              <div class="circle">
                <%= image_tag "packet.png" %>
              </div>
              <p>
                <%= t(".confirmation") %>
              </p>
              <span><%= t(".brings_conf") %></span>
            </div>
          </div>
          <div class="item">
            <div class="feature">
              <div class="circle">
                <%= image_tag "magic.png" %>
              </div>
              <p>
                <%= t(".universality") %>
              </p>
              <span><%= t(".brings_univer") %></span>
            </div>
            <div class="feature">
              <div class="circle">
                <%= image_tag "android.png" %>
              </div>
              <p>
                <%= t(".iot") %>
              </p>
              <span><%= t(".brings_andr") %></span>
            </div>
            <div class="feature">
              <div class="circle">
                <%= image_tag "ring_green.png" %>
              </div>
              <p>
                <%= t(".alerts") %>
              </p>
              <span><%= t(".brings_alert") %></span>
            </div>
          </div>
          <div class="item">
            <div class="feature">
              <div class="circle">
                <%= image_tag "social.png" %>
              </div>
              <p>
                <%= t(".social") %>
              </p>
              <span><%= t(".brings_social") %></span>
            </div>
            <div class="feature">
              <div class="circle">
                <%= image_tag "calendar.png" %>
              </div>
              <p>
                <%= t(".google") %>
              </p>
              <span><%= t(".brings_calend") %></span>
            </div>
            <div class="feature">
              <div class="circle">
                <%= image_tag "pdf.png" %>
              </div>
              <p>
                <%= t(".pdf") %>
              </p>
              <span><%= t(".brings_pdf") %></span>
            </div>
          </div>
          <div class="item">
            <div class="feature">
              <div class="circle">
                <%= image_tag "validation.png" %>
              </div>
              <p>
                <%= t(".data") %>
              </p>
              <span><%= t(".brings_data") %></span>
            </div>
            <div class="feature">
              <div class="circle">
                <%= image_tag "crm.png" %>
              </div>
              <p>
                <%= t(".crm") %>
              </p>
              <span><%= t(".brings_crm") %></span>
            </div>
            <div class="feature">
              <div class="circle">
                <%= image_tag "transfer_icon.png" %>
              </div>
              <p>
                <%= t(".transfer") %>
              </p>
              <span><%= t(".brings_transfer") %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sign_up_panel">
      <div class="content">
        <div class="left_part">
          <p>
            <%= t(".power_up") %>
          </p>
          <input type="text" name="" placeholder="Enter your E-mail">
          <%= link_to new_user_registration_path do %>
            <div class="registration_link">
              <%= t(".sign_up_free") %>
            </div>
          <% end %>
          <div class="item panel">
            <%= image_tag "car_item_main_page.png" %>
          </div>
          <div class="circle_yellow">
          </div>
          <div class="circle_white">
          </div>
          <div class="circle_yellow_2">
          </div>
          <%= image_tag "white_star.png", class: "white_star" %>
          <div class="item panel bike">
            <%= image_tag "bike_item_main_page.png" %>
          </div>
          <%= image_tag "white_star_fill.png", class: "white_star_fill" %>
        </div>
        <div class="right_part">
          <div class="circle_yellow">
          </div>
          <%= image_tag "yellow_star.png", class: "yellow_star" %>
          <div class="circle_white">
          </div>

          <div class="ui_example">
            <%= image_tag "logo_menu.png", class: "logo" %>
            <div>
              <div class="item_icon">
                <%= image_tag "moto_icon.png" %>
              </div>
              <div class="item_icon">
                <%= image_tag "tractor_icon.png" %>
              </div>
              <div class="item_icon">
                <%= image_tag "home_icon.png" %>
              </div>
              <div class="item_icon">
                <%= image_tag "bike_icon.png" %>
              </div>
            </div>
            <div class="body">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="logo_footer">
        <%= image_tag "logo_mobile.png" %>
      </div>
      <div class="footer_links">
        <ul>
          <li>
            <%= link_to t(".features"), static_pages_about_path %>
          </li>
          <li>
            <%= link_to t(".for_investors"), static_pages_for_investors_path %>
          </li>
          <li>
            <%= link_to t(".about"), static_pages_about_path %>
          </li>
          <li>
            <%= link_to t(".careers"), static_pages_careers_path %>
          </li>
          <li>
            <%= link_to t(".privacy"), static_pages_security_path %>
          </li>
          <li>
            <%= link_to t(".donation"), donation_path %>
          </li>
          <li><%= link_to t(".facebook"), t(".facebook_link") %></li>
          <li><%= link_to t(".twitter"), t(".twitter_link") %></li>
          <li><%= link_to t(".instagram"), t(".instagram_link") %></li>
          <li><%= link_to t(".linkedin"), t(".linkedin_link") %></li>
          <li><%= link_to t(".youtube"), t(".youtube_link") %></li>
        </ul>
        <span><%= t(".year") %>, Distodi. <%= t(".all_rights") %></span>
        <span><%= t(".adress") %></span>
      </div>
    </div>
    <div class="footer mobile">
        <ul>
          <li><%= link_to t(".about"), static_pages_about_path %></li>
          <li>•</li>
          <li><%= link_to t(".security"), static_pages_security_path %></li>
          <li>•</li>
          <li><%= link_to t(".terms"), static_pages_terms_path %></li>
          <li>•</li>
          <li><%= link_to t(".careers"), static_pages_careers_path %></li>
        </ul>
        <div class="contacts">
          <%= t(".year") %>, <%= link_to 'Distodi', root_path %>
        </div>
        <div class="contacts">
          <%= t(".telephobe_number") %>
        </div>
        <div class="contacts">
          <%= mail_to 'support@distodi.com'%>
        </div>
        <div class="contacts">
          <%= link_to(t(".terms"), '#', class: 'footer__nav-link footer__nav-link_hidden') %>
        </div>
        <div class="contacts_mobile"><%= t(".year") %>, <%= link_to 'Distodi', root_path %></div>
        <div class="telephone_mobile"><a href="tel:<%= t(".telephobe_number") %>"><%= t(".telephobe_number") %></a></div>
        <!-- <hr> --><div class="social_net">
        <%= link_to image_tag('insta.png', alt: 'instagram'), t(".instagram_link") %>
        <%= link_to image_tag('twit.png', alt: 'twitter'), t(".twitter_link") %>
        <%= link_to image_tag('facebook.png', alt: 'facebook'), t(".facebook_link") %>
        <%= link_to image_tag('you.png', alt: 'youtube'), t(".youtube_link") %>
      </div>
    </div>
  </div>
</div>

<!-- popups -->
<input type="checkbox" id="cookies_close">
<div class="cookies_panel">
  <h2><%= t(".warning") %></h2>
  <%= t(".cookies_text").html_safe %>
  <label for="cookies_close" class="cookies_button"><p><%= t(".agree") %></p></label>
</div>
