<div  class="service_create_main_form"
      ng-controller="AccountEditController as accountEditController"
      ng-click="clickedBlank()"
      ng-init='accountEditController.setProfile(
         <%= @user.to_json(only: %i( country_short city address postal_code ), methods: %i( country_short profile_picture_url )).html_safe %>
       )'>
  <div class="left_form_service_create margin">
    <div class="form_service_create">
      <div class="destroy_user">
        <h1>
          <%= t(".delete_my_account") %>
        </h1>
        <%= form_for @user, method: :delete do |f| %>
          <p>
            <%= t(".password") %>
          </p>
          <%= f.password_field :password, autocomplete: :off, placeholder: t(".password_placeholder")  %>
          <div class="delete_button">
            <%= f.submit value: t(".delete_link"), data: { confirm: t(".confirm_delete") } %>
          </div>
        <% end %>
      </div>

      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div class="error_explanation">
            <p><%= t(".errors_user") %></p>
          </div>
        <% end %>
        <ol>
          <div class="price">
            <span class="field_name">
              <li><%= f.label :email %></li>
            </span>
            <%= f.email_field :email,  :disabled => true  %>
          </div>

          <div class="half_form_field half first first_name">
            <span class="field_name">
              <li><%= f.label :first_name %></li>
            </span>
            <%= f.text_field :first_name, autofocus: true, placeholder: t(".name_placeholder")  %>
          </div>

          <div class="half_form_field half">
            <span class="field_name">
              <li><%= f.label :last_name %></li>
            </span>
            <%= f.text_field :last_name, placeholder: t(".last_name_placeholder")  %>
          </div>

          <div class="half_form_field first">
            <span class="field_name">
              <li><%= f.label :postal_code %></li>
            </span>
            <%= f.text_field :postal_code, placeholder: t(".postal_placeholder"), :"ng-model" => "postalCode", :"ng-change" => "changedPostalCode(\"#{I18n.locale}\")" %>
            <ul class="hint-list" ng-show="addresses.length > 0">
              <li ng-click="addressSelected()" ng-repeat="address in addresses">{{address.formatted_address}}</li>
            </ul>
          </div>

          <div class="half_form_field half first">
            <span class="field_name">
              <li><%= f.label :country %></li>
            </span>
            <%= f.country_select :country, {prompt: t(".select_country")}, :"ng-model" => "country", :"ng-value" => "{{country}}" %>
          </div>

          <div class="half_form_field half city">
            <span class="field_name">
              <li><%= f.label :city %></li>
            </span>
            <%= f.text_field :city, placeholder: t(".city_placeholder"), :"ng-value" => "city" %>
          </div>

          <div class="price">
            <span class="field_name">
              <li><%= f.label :address %></li>
            </span>
            <%= f.text_field :address, placeholder: t(".address_placeholder"), :"ng-model" => "formattedAddress"  %>
          </div>

          <div class="half_form_field margin first">
            <span class="field_name">
              <li><%= f.label :phone %></li>
            </span>
            <%= f.text_field :phone, placeholder: t(".phone_placeholder")  %>
          </div>
        </ol>

        <div class="line"></div>

        <div class="change_password">
          <h1><%= t(".change_password") %></h1>
          <div class="half_form_field half first">
            <p class="field_name">
              <%= t(".original_password") %>
            </p>
            <%= f.password_field :password, autocomplete: :off, placeholder: t(".password_placeholder")  %>
          </div>

          <div class="half_form_field half">
            <p class="field_name">
              <%= t(".new_password") %>
            </p>
            <%= f.password_field :password_confirmation, autocomplete: :off, placeholder: t(".confirmation_placeholder")  %>
          </div>
        </div>
        <div class="line"></div>

        <div class="notification_confirmation">
          <h1><%= t(".notifications") %></h1>
          <div class="select">
            <label>
              <input type="checkbox" checked/>
              <i>
                <%= image_tag "select.png" %>
              </i>
              <span>
                <%= t(".receive_notifications") %>
              </span>
            </label>
          </div>
        </div>

        <div class="line"></div>
        <div class="user_destroy_place"></div>
        <div class="line"></div>
         <div class="form-actions user">
          <%= f.submit t(".confirm") %>
          <%= link_to t(".discard"), dashboard_path %>
        </div>
      </div>
    </div>

    <div class="right_form_service_create">
      <p class="field_name">
        <%= t(".picture", formats: picture_formats) %>
      </p>
      <div class="image user {{ newPhotoAttached[0] ? 'with_photo' : 'without_photo_input' }}" style="background: url({{imagePreview[0] || images[0]}}) no-repeat center center; background-size: cover;">
        <div class="blank_image">+</div>
        <%= f.file_field :picture,
                         class: 'inputfile',
                         :"data-file" => "true",
                         :"data-index" => 0,
                         :"accept" => "image/jpg, image/jpeg, image/png" %>
      </div>
    <% end %>
    <div class="service_form_info">
      <p>
        <%= t(".title") %>
      </p>
      <span>
        <%= t(".text") %>
      </span>
    </div>
  </div>
</div>
