<div class="service_create_identity">
  <h1><%= t(".my_account") %></h1>
  <span class="green">
    <%= @user.items.count %> <%= t(".items") %>
  </span>
  <span class="grey_text">
    <%= @user.services.count %> <%= t(".services") %>
  </span>
</div>

<%= render 'form' %>
