<div class="margin_left">
  <p id="notice"><%= notice %></p>
<div class="thumbnail" >
  <%= picture_show(@user) %>
</div>
<div  >
  <p id="information_margin " class="first_name">
<span>
  <strong>
    <%= @user.first_name %>
  </strong>
</span>
    <span>
  <strong>
    <%= @user.last_name %>
  </strong>
</span>
  </p>
  <p id="information_margin">
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <p id="information_margin">
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>
  <p id="information_margin">
    <strong>Country:</strong>
    <%= @user.country %>
  </p>

  <p id="information_margin">
    <strong>City:</strong>
    <%= @user.city %>
  </p>

  <p id="information_margin">
    <strong>Address:</strong>
    <%= @user.address %>
  </p>

  <p id="information_margin">
    <strong>Postal code:</strong>
    <%= @user.postal_code %>
  </p>

  <p>
    <span><%= link_to "All items & service history "   "#{@unconfirmed_count > 0 ? " ! ""(#{@unconfirmed_count})"" new" : ""}", items_path, class: "buttonsuser" %></span>
    <span><%= link_to 'Create Item', new_item_path, class: "buttonsuser" %></span>
    <span><%= link_to t(".update_link"), edit_user_path(@user), class: "buttonsuser" %></span>
    <span><%= link_to t(".delete_link"), user_path(@user), method: :delete,:data => {:confirm => t(".confirm_delete")}, class: "buttonsuser" %></span>
  </p>
</div>
<% if @last_items.present?%>
      <h1><br>My last items</h1>
      <div>
        <% @last_items.each do |item| %>
            <%= link_to item do %>
            <div class="show_tile" style="margin-bottom: 50px">
              <div class="thumbnail_grid" style="height: 120px; width: 120px; " >
                <%= service_picture_show(item) %>
              </div>
              <strong><%=item.title%></strong>
              <span><br><%= item.created_at.strftime("%F") %></span>
            </div>
                <% end %>
        <% end %>
        <br> <br> <br><br></div>
        <span><%= link_to "All items #{@unconfirmed_count > 0 ? "(#{@unconfirmed_count})" : ""}", items_path, class: "buttonsuser"%><br></span>

<% else %>
      <div style="background-color: #D8D8D8; padding:0 20px 20px 20px; max-width: 300px">
        <p>Here you will see service for each of your item. Please add your first item and track your service!</p>
      <span ><%= link_to 'Create Item', new_item_path, class: "buttonsuser" %></span>
      </div>
<% end %>
  <% if @last_services.present?%>
<h1><br>Last services</h1>
<div>
  <% @last_services.each do |service| %>
    <div class="show_tile">
      <div class="thumbnail_grid" style="height: 90px; width: 90px;" >
        <%= service_picture_show(service) %>
      </div>
      <span><% service.action_kinds.each do |action_kind| %></span>
          <%= "#{action_kind.title}" %>
      <% end %>
      <span><br><%= service.created_at.strftime("%F") %></span>
</div>
  <% end %>
  <br> <br> <br>
  <span><%= link_to 'Show all services', services_user_path(@user), class: "buttonsuser" %><br></span>
</div>
  <% else %>
      <div style="background-color: #D8D8D8; padding:0 20px 20px 20px; max-width: 300px">
        <p>Here you will see last services for each of your item. Please add your first item and track your service!</p>

      </div>
  <% end %>

  <% if @last_companies.present?%>
<h1>Companies that did services</h1>
<div>

  <% @last_companies.each do |company| %>
      <div class="show_tile">
      <div class="thumbnail_grid" style="height: 90px; width: 90px;">
        <%= picture_show(company) %>
      </div>
      <%= company.name %>

</div>
  <% end %>
  <br> <br><br>
  <span ><%= link_to 'Show all companies', companies_user_path(@user), class: "buttonsuser" %></span>
  <% else %>
      <div style="background-color: #D8D8D8; padding:0 20px 20px 20px; max-width: 300px">
        <p>Here you will see companies that have made services for you.</p>

      </div>
  <% end %>

</div>
</div>
