                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <p class="alert"><%= alert %></p>
                    <div class="mail">
                      <%= f.email_field :email, autofocus: true, placeholder: t(".email") %>
                      <%= inline_svg "mail_ico.svg" %>
                    </div>

                    <div class="password">
                      <input autocomplete="off" placeholder="<%= t(".pass") %>" type="{{type}}" name="<%= resource_name %>[password]" id="<%= resource_name %>_password">
                      <%= inline_svg "pass_ico.svg" %>
                    </div>
                    <div class="signup_info_right">
                      <%= link_to t(".forgot"), new_password_path(resource_name) %>
                    </div>
                    <div class="signup_but">
                      <%= f.submit t(".sign_in") %>
                      <%= link_to "&nbsp;".html_safe, send(:"#{resource_name}_google_omniauth_authorize_path"), class: "login-button google" %>
                      <%= link_to "&nbsp;".html_safe, send(:"#{resource_name}_facebook_omniauth_authorize_path"), class: "login-button facebook" %>
                      <%= link_to "&nbsp;".html_safe, send(:"#{resource_name}_twitter_omniauth_authorize_path"), class: "login-button twitter" %>
                      <%= link_to "&nbsp;".html_safe, send(:"#{resource_name}_linkedin_omniauth_authorize_path"), class: "login-button linkedin" %>
                    </div>
                  <% end %>
