              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <div class="mail reset_password">
                  <%= f.email_field :email, autofocus: true, placeholder: t(".email") %>
                  <%= inline_svg "mail_ico.svg" %>
                </div>
                <div class="errors_reg mail">
                  <%= resource.errors.full_messages_for(:email).join(',') %>
                </div>
                <div class="signup_but">
                  <%= f.submit t(".send") %>
                </div>
              <% end %>
