<%= simple_form_for(@lead) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, placeholder: t(".email") %>
    <%= inline_svg "mail_ico.svg" %>
  </div>

  <div class="form-actions lead">
    <%= f.button :submit, t(".access")%>
  </div>
<% end %>
