<div class="lead_background">
  <div class="logo_lead">
    <%= image_tag "logo_mobile.png" %><span>Distodi</span><p>α</p>
  </div>
  <div class="form_lead">
    <h1><%= t(".congrats") %></h1>
    <h1><%= t(".you_on_list") %></h1>
    <p><%= t(".you_first") %></p>
    <p class="second_line"><%= t(".you_position") %><%= Lead.count + 500 %></p>
  </div>
</div>
