<div  class="service_create_main_form"
      ng-controller="AccountEditController as accountEditController"
      ng-click="clickedBlank()"
      ng-init='accountEditController.setProfile(
         <%= @company.to_json(only: %i( country_short city address postal_code ), methods: %i( country_short profile_picture_url )).html_safe %>
       )'>

  <div class="left_form_service_create margin">
    <div class="form_service_create">
      <div class="destroy_user company">
        <h1>
          <%= t(".delete_my_account") %>
        </h1>
        <%= form_for @company, method: :delete do |f| %>
          <p>
            <%= t(".password") %>
          </p>
          <%= f.password_field :password, autocomplete: :off, placeholder: t(".password_input")  %>
          <div class="delete_button">
            <%= f.submit t(".delete_link"), data: { confirm: t(".confirm_delete") } %>
          </div>
        <% end %>
      </div>

      <%= form_for(@company) do |f| %>

        <% if @company.errors.any? %>
          <div class="error_explanation">
            <p><%= t(".errors_company") %></p>
          </div>
        <% end %>
        <div class="price">
          <p class="field_name">
            <%= t(".email_company") %>
          </p>
          <%= f.email_field :email %>
        </div>

        <div class="half_form_field half first">
          <p class="field_name">
            <%= t(".name") %>
          </p>
          <%= f.text_field :name, autofocus: true, placeholder: t(".name_placeholder")  %>
        </div>

        <div class="half_form_field half">
          <p class="field_name">
            <%= t(".website") %>
          </p>
          <%= f.text_field :website, placeholder: t(".website_placeholder")  %>
        </div>

        <div class="notification_confirmation approver">
          <div class="select">
            <label>
              <input type="checkbox" checked/>
              <i>
                <%= image_tag "select.png" %>
              </i>
              <span>
                <%= t(".approver") %>
              </span>
            </label>
          </div>
        </div>

        <div class="line"></div>

        <div class="notification_confirmation office">
          <h1><%= t(".your_office") %></h1>
          <p><%= t(".set_office") %></p>
        </div>

        <div class="half_form_field first">
          <p class="field_name">
            <%= f.label :postal_code %>
          </p>
          <%= f.text_field :postal_code, placeholder: t(".postal_example"), :"ng-model" => "postalCode", :"ng-change" => "changedPostalCode(\"#{I18n.locale}\")" %>
          <ul class="hint-list" ng-show="addresses.length > 0">
            <li ng-click="addressSelected()" ng-repeat="address in addresses">{{address.formatted_address}}</li>
          </ul>
        </div>

        <div class="half_form_field half first">
          <p class="field_name">
            <%= f.label :country %>
          </p>
          <%= f.country_select :country, {prompt: t(".select_country")}, :"ng-model" => "country", :"ng-value" => "{{country}}" %>
        </div>

        <div class="half_form_field half city">
          <p class="field_name">
            <%= f.label :city %>
          </p>
          <%= f.text_field :city, placeholder: t(".city_example"), :"ng-value" => "city" %>
        </div>

        <div class="price">
          <p class="field_name">
            <%= f.label :address %>
          </p>
          <%= f.text_field :address, placeholder: t(".address_example"), :"ng-model" => "formattedAddress"  %>
        </div>

        <div class="half_form_field margin first phone">
          <p class="field_name">
            <%= f.label :phone %>
          </p>
          <%= f.text_field :phone, placeholder: t(".phone_example")  %>
        </div>

        <p class="field_name">
          <%= t(".additional_field") %>
        </p>
        <div class="textarea">
          <%= f.text_area :notice, placeholder: t(".additional_example") %>
        </div>

        <div class="line"></div>

        <div class="change_password">
          <h1><%= t(".change_password") %></h1>
          <div class="half_form_field half first">
            <p class="field_name">
              <%= t(".original_password") %>
            </p>
            <%= f.password_field :password, autocomplete: :off,
                placeholder: t(".password_input")  %>
          </div>

          <div class="half_form_field half">
            <p class="field_name">
              <%= t(".new_password") %>
            </p>
            <%= f.password_field :password_confirmation, autocomplete: :off,
                placeholder: t(".password_confirmation_input")  %>
          </div>
        </div>
        <div class="line"></div>

        <div class="notification_confirmation">
          <h1><%= t(".notifications") %></h1>
          <div class="select">
            <label>
              <input type="checkbox" checked/>
              <i>
                <%= image_tag "select.png" %>
              </i>
              <span>
                <%= t(".receive_notifications") %>
              </span>
            </label>
          </div>
        </div>

        <div class="line"></div>
        <div class="user_destroy_place"></div>
        <div class="line"></div>
         <div class="form-actions user">
          <%= f.submit t(".confirm") %>
          <%= link_to t(".discard"), dashboard_path %>
        </div>
      </div>
    </div>

    <div class="right_form_service_create">
      <p class="field_name">
        <%= t(".picture", formats: picture_formats) %>
      </p>
      <div class="image user {{ newPhotoAttached[0] ? 'with_photo' : 'without_photo_input' }}" style="background: url({{imagePreview[0] || images[0]}}) no-repeat center center; background-size: cover;">
        <div class="blank_image">+</div>
        <%= f.file_field :picture,
                         class: 'inputfile',
                         :"data-file" => "true",
                         :"data-index" => 0,
                         :"accept" => "image/jpg, image/jpeg, image/png" %>
      </div>
    <% end %>
    <div class="service_form_info">
      <% if !current_company.verified %>
        <p class="red">
          <%= t(".unapproved_company_title") %>
        </p>
        <span class="red">
          <%= t(".unapproved_company_text").html_safe %>
        </span>
      <% end %>
      <p>
        <%= t(".title") %>
      </p>
      <span>
        <%= t(".text") %>
      </span>
    </div>
  </div>
</div>
