<div class="service_create_identity">
  <h1><%= t(".my_account") %></h1><div class="company_verification <%= current_company.verified %> form"></div>
  <span class="green">
    <%= current_company.items.count %>&nbsp;<%= t(".items") %>
  </span>
  <span class="grey_text">
    <%= @company.services.count %> <%= t(".services") %>
  </span>
</div>

<%= render 'form' %>
