<%= form_for(@attribute_kind) do |f| %>
  <% if @attribute_kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attribute_kind.errors.count, "error") %> prohibited this attribute_kind from being saved:</h2>

      <ul>
      <% @attribute_kind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
