<div class="form"
      ng-controller="NewItemController as newItemController"
      ng-init='
        newItemController.images = <%=
          [
            @item.picture.cover.url,
            @item.picture2.additional_photo.url,
            @item.picture3.additional_photo.url,
            @item.picture4.additional_photo.url,
            @item.picture5.additional_photo.url,
          ].compact.to_s.html_safe
        %>;
      '
     >
  <%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
        <div class="error_explanation">
          <% @item.errors.full_messages.each do |message| %>
            <div class="item_errors">
              <p><%= message.html_safe %></p>
            </div>
          <% end %>
        </div>
    <% end %>

    <div class="categories">
      <p>1. <%= f.label t(".category") %></p>
      <%= f.collection_select :category_id,
                              Category.all,
                              :id, :name,
                              {},
                              { class: "category_select",
                                "ng-model" => "_category",
                                "ng-change" => "newItemController.categorySelectChanged()",
                                disabled: controller.action_name.in?(%w( edit update ))
                              } %>
    </div>

    <div class="field_title">
      2. <%= f.label :title %>
      <%= f.text_field :title, placeholder: t(".title_placeholder") %>
    </div>

    <div class="custom_attributes">
    </div>

    <div class="field">
      <p><%= t(".cover_photo", formats: picture_formats) %></p>
      <div class="image {{ newPhotoAttached[0] ? 'with_photo' : 'without_photo_input' }} main" style="background: url({{imagePreview[0] || newItemController.images[0]}}) no-repeat center center; background-size: cover;">
        <%= image_tag(nil,
                      alt: @item.title,
                      class: "current_photo",
                      "ng-src" => "{{imagePreview[0] || newItemController.images[0]}}") %>
        <label for="upload" ng-show="!newPhotoAttached[0]"><%= inline_svg "plus.svg" %><%= t(".add_photo") %></label>
        <%= f.file_field :picture,
                         class: 'inputfile',
                         :"data-file" => "true",
                         :"data-index" => 0,
                         :"accept" => "image/jpg, image/jpeg, image/png" %>
        <%= link_to "&nbsp;".html_safe, "", :"ng-click" => "deleteImage($event, 0)" %>
      </div>

      <p class="additional_photo_text"><%= t(".other_photo") %></p>

      <%- (1..4).each do |i| -%>
        <div class="additional_photo">
          <div class="image" style="background: url({{imagePreview[<%= i %>] || newItemController.images[<%= i %>]}}) no-repeat center center; background-size: cover;">
            <%= image_tag(nil,
                          alt: @item.title,
                          class: "current_photo",
                          :"ng-src" => "{{imagePreview[#{i}] || newItemController.images[#{i}]}}") %>
            <%= inline_svg "plus.svg" %>
            <%= f.file_field :"picture#{i + 1}",
                             :"data-file" => "true",
                             :"data-index" => i,
                             :"accept" => "image/jpg, image/jpeg, image/png" %>
            <%= link_to "&nbsp;".html_safe, "", :"ng-click" => "deleteImage($event, #{i})" %>
          </div>
        </div>
      <%- end -%>
      <p class="additional_photo_text"><%= t(".comments") %></p>
      <%= f.text_area :comment, placeholder: t(".comments_placeholder") %>
    </div>

    <div class="actions_but">
      <%= f.submit t(".save"), :"ng-click" => "saveClicked()" %>
      <div class="back">
        <%= link_to t(".discard"), dashboard_path %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function () {
    $("form.edit_item, form.new_item").on("change", "#item_category_id, select.brand_options", function(){
      if ($('#item_category_id option:selected').val()) {
        $.ajax({
          url: "/<%= I18n.locale %>/items/get_attributes",
          type: "GET",
          dataType: "script",
          data: {
            category_id: $('#item_category_id option:selected').val(),
            brand_option_id: $("select.brand_options").val(),
            item_id: <%= @item.to_param || "undefined" %>
          }
        });
      }
    });
    var $categorySelect = $("#item_category_id"),
        selectedCategoryValue = $('#item_category_id option:selected').val(),
        UNDEFINED_VALUE = "? undefined:undefined ?";
    if (selectedCategoryValue === "" || selectedCategoryValue === UNDEFINED_VALUE) {
      $categorySelect.val(<%= @item.category_id %>);
    }
    $categorySelect.trigger("change");
  });
</script>
