        <div class="slider_mobile_items">
          <div class="large-12 columns">
            <div id="owl-example_mobile_items" class="owl-carousel"
                 ng-show="controller.showDetails === undefined">
              <% if @items.count != 1 %>
                <div class="items">
                  <%= link_to root_path, class: (@item.blank? ? "active" : "") do %>
                  <div class="all_items">
                    <span><%= t(".all") %></span>
                  </div>
                  <% end %>
                </div>
              <% end %>

              <% @items.each do |item| %>
                <div class="items">
                  <%= link_to item, class: (@item.present? && item == @item ? "active" : "") do %>
                    <%= image_tag(item.picture.mini.url, alt: item.title) %>
                  <% end %>
                </div>
              <% end %>
              <% if current_user %>
                <% if current_user.transferring_items.any? %>
                  <% current_user.transferring_items.each do |item| %>
                    <div class="transfer_panel">
                      <%= image_tag(item.picture_url, alt: item.title) %>
                      <div class="red_col">
                        <div class="view">
                          <%= t ".transferred_items" %>
                        </div>
                        <div class="receive">
                          <strong><%= item.title %></strong>
                          <p><%= link_to t(".receive_item"), receive_item_path(item), method: "POST" %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <div class="items">
                <%= link_to new_item_path do %>
                  <div class="all_items add">
                    <p>+</p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
