<div ng-controller="ItemsController as controller"
     ng-init='controller.checkboxes.length = <%= @services.size %>;
              controller.permissions = <%= @services.map { |s| s.permissions(current_user) }.to_json.html_safe %>;
              controller.ids = <%= @services.map(&:id) %>;
              '>
  <%= render @items.present? ? "items" : "empty_items" %>

  <div>
    <% if @item.present? %>
      <div class="item_info">
        <span><%= @item.title %>, </span>
         <% @item.characteristics_ordered.each do |characteristic| %>
          <span> <%= characteristic.value %></span>
        <% end %>
      </div>
    <% elsif @items.blank? %>
      <div class="item_info">
        <span><%= link_to t(".add_your_first_item"), new_item_path %></span>
      </div>
    <% else %>
      <div class="item_info">
        <span><%= t(".all_services") %></span>
      </div>
    <% end %>
    <% if @services.any? %>
      <div class="service_count">
        <%= @services.count %> <span><%= t(".services") %></span>
      </div>
      <% if @item.present? %>
        <div class="kpi_icon">
          <%= link_to t(".kpi"), item_key_performance_indicators_path(@item) %>
        </div>
      <% end %>
    <% end %>
    <%= link_to new_item_service_path(item_id: @item), "ng-show" => "!controller.serviceActions.show" do %>
      <div class="add_service">
        <%= t(".add_new_service") %>
      </div>
    <% end if @item.present? %>
    <div class="service_panel" ng-show="controller.serviceActions.show">
      <% if @item.present? %>
        <%= link_to image_tag('pdf-icon.png'), show_pdf_item_path(@item, format: :pdf), class: "bar" %>
        <%= link_to image_tag('csv-icon.png'), item_path(@item, format: :csv) %>
      <% end %>
      <a href="" class="view"
         ng-class="controller.serviceActions.view ? '' : 'disabled'"
         ng-click="controller.clickedView('<%= I18n.locale %>')">
        <%= t(".view") %>
      </a>
      <a href="" class="delete"
         ng-class="controller.serviceActions.delete ? '' : 'disabled'"
         ng-click="controller.clickedDelete('<%= I18n.locale %>')">
        <%= t(".del") %>
      </a>
      <!-- <a href="#"><%= image_tag "send.png" %> Send</a> -->
    </div>
    <table class="list_items">
      <thead>
        <th>
          <div class="select">
            <label>
              <input type="checkbox" ng-change="controller.clickedAllCheckbox()"
                                     ng-model="controller.checkboxes.all" />
              <i ng-class="!controller.checkboxes.areAllChecked() && controller.checkboxes.isAnyChecked() ? 'partial' : ''">
                <%= image_tag "select.png" %>
              </i>
            </label>
          </div>
        </th>
        <th>
          <%= link_to t(".service"), "?order=service_kind+#{@order.service_kind.opposite_direction}",
            type: "button",
            name: "button",
            class: "sort-by#{ @order.service_kind? ? " active-sort-#{@order.service_kind.direction}" : "" }" %>
        </th>
        <th>
          <%= link_to t(".type"), "?order=service_type+#{@order.service_type.opposite_direction}",
          type: "button",
          name: "button",
          class: "sort-by#{ @order.service_type? ? " active-sort-#{@order.service_type.direction}" : "" }" %>
        </th>
        <th class="status"><%= t(".status") %></th>
        <th><%= t(".blockchain") %></th>
        <th><%= t(".item") %></th>
        <th><%= t(".company") %></th>
        <th class="date"><%= t(".date") %></th>
        <th class="cost"><%= t(".cost") %></th>
        <th></th>
      </thead>
      <tbody>
        <% @services.each.with_index do |service, i| %>
          <tr ng-class="[
                          (controller.showDetails === <%= i %> ? 'viewing' : ''),
                          (controller.checkboxes[<%= i %>] ? 'selected' : '')
                        ].join(' ')">
            <td>
              <div class="select">
                <label>
                  <input type="checkbox" ng-model="controller.checkboxes[<%= i %>]"
                                         ng-change="controller.changedCheckbox(<%= i %>)" />
                  <i>
                    <%= image_tag "select.png" %>
                  </i>
                </label>
              </div>
            </td>
            <td>
              <%= link_to service_path(service) do %>
                <% service.service_fields.each do |service_field| %>
                  <%= service_field.service_kind.title %>
                  <%= service_field.text %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to service_path(service) do %>
                <% service.action_kinds.decorate.each do |action_kind| %>
                  <div class="icon_service <%= action_kind.icon_class %>">
                    <%= "#{action_kind.title}" %>
                  </div>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to service_path(service) do %>
                <div class="<%= service.status %>">&nbsp;</div>
              <% end %>
            </td>
            <td class="blockchain_link">
              <%= if service.blockchain_transaction_datum.present? && service.blockchain_transaction_datum.in_blockchain?
                link_to(
                  service.short_blockchain_hash,
                  blockchain_info_path(service.blockchain_transaction_datum.blockchain_hash)
                )
              end %>
            </td>
            <td>
              <%= link_to edit_item_path(service.item) do %>
                <span><%= service.item.title %></span>
                <% service.item.characteristics_ordered.each do |characteristic| %>
                  <span> <%= characteristic.value %></span>
                <% end %>
              <% end %>
            </td>
            <td class="company">
              <% if service.approver.present? %>
                <%= service.approver.name %>
                <div class="company_verification <%= service.approver.verified %>"></div>
              <% end %>
            </td>
            <td class="date">
              <%= link_to service_path(service) do %>
                <%= service.created_at.strftime("%d %b %Y")%></td>
              <% end %>
            <td class="cost">
              <%= link_to service_path(service) do %>
                <%= number_to_currency(service.price , unit: "EUR ") %>
              <% end %>
            </td>
            <td class="actions">
              <%= link_to "&nbsp;".html_safe, service_path(service) %>
            </td>
          </tr>
        <% end %>
        <% if @services.blank? %>
          <% 10.times do %>
            <tr>
              <td>
                <div class="square"></div>
              </td>
              <td>
                <div class="line"></div>
              </td>
              <td>
                <div class="line"></div>
              </td>
              <td></td>
              <td>
                <div class="line"></div>
              </td>
              <td>
                <div class="line"></div>
              </td>
              <td>
                <div class="line"></div>
              </td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="list_items_mobile">
      <% @services.each_with_index do |service, i| %>
      <div class="service_mobile">
        <div class="select">
          <label>
            <input type="checkbox" ng-model="controller.checkboxes[<%= i %>]"
                                   ng-change="controller.changedCheckbox(<%= i %>)" />
            <i>
              <%= image_tag "select.png" %>
            </i>
          </label>
        </div>
        <p class="type"><% service.service_fields.each do |service_field| %>
          <%= service_field.service_kind.title %>
          <%= service_field.text %>
          <% end %>
        </p>
        <% service.action_kinds.decorate.each do |action_kind| %>
              <div class="icon_service <%= action_kind.icon_class %>">
                <%= "#{action_kind.title}" %>
              </div>
        <% end %>
        <p><%= service.item.try :title %></p>
        <p><span><%= service.created_at.strftime("%d %b %Y")%></span>
        <span> <%= number_to_currency(service.price , unit: "EUR ") %></span></p>
      </div>
      <% end %>
    </div>
    <% if @items.present? && @services.blank? %>
      <div class="first_service">
        <p>
          <%= t(".service_log") %>
          <% if @item.present? %>
            <%= link_to t(".add_first_service"), new_item_service_path(item_id: @item), "ng-show" => "!controller.serviceActions.show" %>
          <% else %>
            <%= t(".add_first_service") %>
          <% end %>
        </p>
      </div>
    <% end %>
    <% if @items.blank? && @services.blank? %>
      <div class="first_service">
        <p>
          <%= t(".service_log") %>
          <%= link_to t(".add_first_item"),new_item_path, "ng-show" => "!controller.serviceActions.show" %>
        </p>
      </div>
    <% end %>
    <% if @items.present? && @services.blank? %>
      <div class="first_service_mobile">
        <p>
          <%= t(".service_log") %>
        </p>
        <% if @item.present? %>
          <%= link_to t(".add_first_service"),new_service_path(item_id: @item) %>
        <% else %>
          <p><%= t(".add_first_service") %></p>
        <% end %>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    <% elsif @items.blank? && @services.blank? %>
      <div class="first_service_mobile">
        <p><%= t(".service_log") %></p>
        <%= link_to t(".add_first_item"), new_item_path %>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    <% end %>
  </div>

  <!-- Angular-tour -->
  <tour step="currentStep" post-step="postStepCallback()">
    <virtual-step
      tourtip="<%= t(".tour.welcome") %>"
      tourtip-next-label="<%= t(".tour.control.next") %>"
      tourtip-placement="bottom"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".item_logo img">
    </virtual-step>
    <%- if controller.action_name == "show" -%>
      <virtual-step
        tourtip="<%= t(".tour.start_here") %>"
        tourtip-next-label="<%= t(".tour.control.next") %>"
        tourtip-placement="bottom"
        tourtip-container-element="body"
        use-source-scope="false"
        tourtip-element=".add_service">
      </virtual-step>
    <%- end -%>
    <virtual-step
      tourtip="<%= t(".tour.add_item") %>"
      tourtip-next-label="<%= t(".tour.control.next") %>"
      tourtip-placement="bottom"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".owl-item:last-child">
    </virtual-step>
    <virtual-step
      tourtip="<%= t(".tour.find_item") %>"
      tourtip-next-label="<%= t(".tour.control.next") %>"
      tourtip-placement="bottom"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".all_items">
    </virtual-step>
    <%- if @items.present? && @services.blank? -%>
      <virtual-step
        tourtip="<%= t(".tour.services") %>"
        tourtip-next-label="<%= t(".tour.control.next") %>"
        tourtip-placement="bottom"
        tourtip-container-element="body"
        use-source-scope="false"
        tourtip-element=".first_service">
      </virtual-step>
    <%- end -%>
    <virtual-step
      tourtip="<%= t(".tour.unique_id") %>"
      tourtip-next-label="<%= t(".tour.control.next") %>"
      tourtip-placement="top"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".list_items th:nth-child(6)">
    </virtual-step>
    <virtual-step
      tourtip="<%= t(".tour.money_total") %>"
      tourtip-next-label="<%= t(".tour.control.next") %>"
      tourtip-placement="top"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".list_items th:nth-child(8)">
    </virtual-step>
    <virtual-step
      tourtip="<%= t(".tour.reporting_save") %>"
      tourtip-next-label="<%= t(".tour.control.close") %>"
      tourtip-placement="top"
      tourtip-container-element="body"
      use-source-scope="false"
      tourtip-element=".xls_button a">
    </virtual-step>
  </tour>
</div>
