<div ng-controller="ItemsController as controller"
     ng-init='controller.checkboxes.length = <%= @services.size %>;
              controller.ids = <%= @services.map(&:id) %>;
              '>

  <div>
    <% if @services.present? %>
      <div class="service_count">
        <%= @services.count %> <span><%= t(".services") %></span>
      </div>
    <% end %>
    <%= link_to items_new_service_path(@item), "ng-show" => "!controller.serviceActions.show" do %>
      <div class="add_service">
        <%= t(".add_new_service") %>
      </div>
    <% end if @item.present? %>
    <div class="service_panel" ng-show="controller.serviceActions.show">
      <% if @item.present? %>
        <%= link_to image_tag('pdf-icon.png'), show_pdf_item_path(@item, format: :pdf) %>
        <%= link_to image_tag('csv-icon.png'), item_path(@item, format: :csv) %>
      <% end %>
      <a href="" class="view"
         ng-class="controller.serviceActions.view ? '' : 'disabled'"
         ng-click="controller.clickedView()">
        <%= t(".view") %>
      </a>
      <a href="" class="delete"
         ng-class="controller.serviceActions.delete ? '' : 'disabled'"
         ng-click="controller.clickedDelete('<%= I18n.locale %>')">
        <%= t(".del") %>
      </a>
      <%# <a href="#"><%= image_tag "send.png" %-> Send</a> %>
    </div>
    <table class="list_items">
      <thead>
        <th>
          <div class="select">
            <label>
              <input type="checkbox" ng-change="controller.clickedAllCheckbox()"
                                     ng-model="controller.checkboxes.all" />
              <i ng-class="!controller.checkboxes.areAllChecked() && controller.checkboxes.isAnyChecked() ? 'partial' : ''">
                <%= image_tag "select.png" %>
              </i>
            </label>
          </div>
        </th>
        <th><%= t(".service") %></th>
        <th><%= t(".type") %></th>
        <th class="status"><%= t(".status") %></th>
        <th><%= t(".blockchain") %></th>
        <th><%= t(".item") %></th>
        <th class="date"><%= t(".date") %></th>
        <th class="cost"><%= t(".cost") %></th>
        <th></th>
      </thead>
      <tbody>
        <% @services.each.with_index do |service, i| %>
          <tr ng-class="[
                          (controller.showDetails === <%= i %> ? 'viewing' : ''),
                          (controller.checkboxes[<%= i %>] ? 'selected' : '')
                        ].join(' ')">
            <td>
              <div class="select">
                <label>
                  <input type="checkbox" ng-model="controller.checkboxes[<%= i %>]"
                                         ng-change="controller.changedCheckbox(<%= i %>)" />
                  <i>
                    <%= image_tag "select.png" %>
                  </i>
                </label>
              </div>
            </td>
            <td>
              <%= link_to service_path(service) do %>
                <% service.service_fields.each do |service_field| %>
                  <%= service_field.service_kind.title %>
                  <%= service_field.text %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to service_path(service) do %>
                <% service.action_kinds.decorate.each do |action_kind| %>
                  <div class="icon_service <%= action_kind.icon_class %>">
                    <%= "#{action_kind.title}" %>
                  </div>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to service_path(service) do %>
                <div class="<%= service.status %>">&nbsp;</div>
              <% end %>
            </td>
            <td class="blockchain_link">
              <%= if service.blockchain_transaction_datum.present? && service.blockchain_transaction_datum.in_blockchain?
                link_to service_path(service)
              end %>
            </td>
            <td>
              <%= link_to service_path(service) do %>
                <span><%= service.item.title %></span>
                 <% service.item.characteristics_ordered.each do |characteristic| %>
                  <span> <%= characteristic.value %></span>
                <% end %>
              <% end %>
            </td>
            <td class="date">
              <%= link_to service_path(service) do %>
                <%= service.created_at.strftime("%d %b %Y")%></td>
              <% end %>
            <td class="cost">
              <%= link_to service_path(service) do %>
                <%= number_to_currency(service.price , unit: "EUR ") %>
              <% end %>
            </td>
            <td class="actions">
              <%= link_to "&nbsp;".html_safe, service_path(service) %>
            </td>
          </tr>
        <% end %>
        <% if @services.blank? %>
          <% 10.times do %>
            <tr>
              <td>
                <div class="square"></div>
              </td>
              <td>
                <div class="line"></div>
              </td>
              <td>
                <div class="line"></div>
              </td>
              <td></td>
              <td>
                <div class="line"></div>
              </td>
              <td>
                <div class="line"></div>
              </td>
              <td>
                <div class="line"></div>
              </td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="list_items_mobile">
      <% @services.each_with_index do |service, i| %>
      <div class="service_mobile">
        <div class="select">
          <label>
            <input type="checkbox" ng-model="controller.checkboxes[<%= i %>]"
                                   ng-change="controller.changedCheckbox(<%= i %>)" />
            <i>
              <%= image_tag "select.png" %>
            </i>
          </label>
        </div>
        <p class="type"><% service.service_fields.each do |service_field| %>
          <%= service_field.service_kind.title %>
          <%= service_field.text %>
          <% end %>
        </p>
        <% service.action_kinds.decorate.each do |action_kind| %>
              <div class="icon_service <%= action_kind.icon_class %>">
                <%= "#{action_kind.title}" %>
              </div>
        <% end %>
        <p><%= service.item.try :title %></p>
        <p><span><%= service.created_at.strftime("%d %b %Y")%></span>
        <span> <%= number_to_currency(service.price , unit: "EUR ") %></span></p>
      </div>
      <% end %>
    </div>
    <% if @items.present? && @services.blank? %>
      <div class="first_service">
        <p>
          <%= t(".service_log") %>
          <% if @item.present? %>
            <%= link_to t(".add_first_service"),new_service_path(item_id: @item), "ng-show" => "!controller.serviceActions.show" %>
          <% else %>
            <%= t(".add_first_service") %>
          <% end %>
        </p>
      </div>
    <% end %>
    <% if @items.blank? && @services.blank? %>
      <div class="first_service">
        <p>
          <%= t(".service_log") %>
          <%= link_to t(".add_first_item"),new_item_path, "ng-show" => "!controller.serviceActions.show" %>
        </p>
      </div>
    <% end %>
    <% if @items.present? && @services.blank? %>
      <div class="first_service_mobile">
        <p><%= t(".service_log") %></p>
        <%= link_to t(".add_first_service"),new_service_path(item_id: @item) %>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    <% elsif @item.blank? %>
      <div class="first_service_mobile">
        <p><%= t(".service_log") %></p>
        <%= link_to t(".add_first_item"), new_item_path %>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="service_maket_mobile">
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    <% end %>
  </div>
