<div class="item_info edit">
  <span>Item details - <%= @item.title %>, </span>
     <% @item.characteristics_ordered.each do |characteristic| %>
      <span> <%= characteristic.value %></span>
    <% end %>
    <p class="grey"> <%= @item.id_code %></p>
    <div class="date"><p><%= t(".created_at") %></p> <%= @item.created_at.strftime("%d.%m.%Y") %></div>
    <div class="services"><p><%= @item.services.count %></p> <%= t(".services") %></div>
</div>

<%= render 'form' %>

<div class="function">
  <div class="transfer">
    <p><strong><%= t(".got_sold") %></strong> <%= t(".send") %></p>
    <%- if @item.transferring_to.blank? -%>

      <div class="transfer_panel">
        <span><%= t(".recipient") %></span>
        <%= render "transfer_form", item: @item %>
      </div>

    <%- else -%>
      <span><%= t(".already_transferred") %></span>
    <%- end -%>
  </div>

  <div class="delete">
    <span><%= t(".pass") %></span>
    <%= form_for @item, method: :delete do |f| %>
      <%= f.password_field :password, autocomplete: :off %>
      <div class="delete_but">
        <!-- <%= image_tag "delete_red.png" %> -->
        <%= f.submit t(".delete_link"), data: { confirm: t(".confirm_delete") } %>
      </div>
    <% end %>
  </div>
</div>
