<div class="page_items">
  <p><%= t('.my_items') %></p>
  <% @items.each.with_index do |item, i| %>
    <div class="item">
      <%= link_to edit_item_path(item) do %>
        <div class="photo_item_index" style="background: url(<%= item.picture.list.url %>) no-repeat center center; background-size: cover;">
          <span><%= t('.test') %></span>
        </div>
      <% end %>
      <span><%= t('.test') %></span>
      <p><%= item.title %></p>
      <% item.characteristics_ordered.each do |characteristic| %>
        <p> <%= characteristic.value %></p>
      <% end %>
    </div>
  <% end %>
  <div class="item">
  	<%= link_to new_item_path do %>
  	  <div class="add_new_item">
        <p><%= t('.add_new_item') %></p>
      </div>
    <% end %>
  </div>
</div>
