
  <div class="report_item_photo">
    <%= wicked_pdf_image_tag (@item.picture_url), width: "400px" %>
    <% @item.characteristics.each do |characteristic| %>
      <p class="item_options"><strong><%= characteristic.attribute_kind.title %>:</strong>
      <%= characteristic.value %></p>
    <% end %>
  </div>
  <table class="list_items">
      <thead>
        <th><%= t(".service") %></th>
        <th><%= t(".type") %></th>
        <th><%= t(".id") %></th>
        <th><%= t(".date") %></th>
        <th><%= t(".cost") %></th>
      </thead>
      <tbody>
        <% @item.services.each.with_index do |service, i| %>
        <tr>
          <td>
            <% service.service_fields.each do |service_field| %>
              <%= service_field.service_kind.title %>
              <%= service_field.text %>
            <% end %>
          </td>
          <td>
            <% service.action_kinds.decorate.each do |action_kind| %>
              <div class="icon_service <%= action_kind.icon_class %>">
                <%= "#{action_kind.title}" %>
              </div>
            <% end %>
          </td>
          <td><%= service.id_code %></td>
          <td><%= service.created_at.strftime("%d %b %Y")%></td>
          <td>
            <%= number_to_currency(service.price , unit: "EUR ") %>
          </td>
        </tr>
      <% end %>
      <tr class="total_cost">
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Total:</strong></td>
        <td><strong><%= number_to_currency(@item.services.sum(:price) , unit: "EUR ") %></strong></td>
      </tr>
    </tbody>
   </table>
