<div ng-init='controller.checkboxes.length = <%= (@services || @item.services).size %>;
              controller.permissions = <%= (@services || @item.services).decorate.map { |s| s.permissions(current_user) }.to_json.html_safe %>;
              controller.ids = <%= (@services || @item.services).map(&:id) %>;
              '>
  <div class="item_info">
    <span><%= @item.title %>,
    </span>
     <% @item.characteristics_ordered.each do |characteristic| %>
      <span>
        <%= characteristic.value %></span>
    <% end %>
  </div>
  <%= link_to new_item_service_path(item_id: @item), "ng-show" => "!controller.serviceActions.show" do %>
  <div class="add_service">
    + ADD NEW SERVICE
  </div>
<% end %>
<div class="service_panel" ng-show="controller.serviceActions.show">
  <a href="#" ng-show="controller.serviceActions.view" ng-click="controller.clickedView()"><%= image_tag "eye.png" %>
    View</a>
  <a href="#" ng-show="controller.serviceActions.delete" ng-click="controller.clickedDelete('<%= I18n.locale %>')">
    <%= image_tag "delete.png" %>
    Delete</a>
</div>
<%= render partial: "services/list_items", locals: { list: (@services || @item.services) } %>
<div>
  <div class="margin_left" style="padding-top: 40px; max-width: 350px;">
    <h3>ID code:
      <%= @item.id_code %></h3>
    <span><%= link_to 'Edit item', edit_item_path(@item), class: "buttonsuser" %><br/></span>
    <span><%= link_to t(".delete_link"), item_path(@item), method: :delete, data: { confirm: t(".confirm_delete") }, class: "buttonsuser" %></span>
    <span>
      <%= render "transfer_form", item: @item %>
    </span>
    <strong>Link for companies:
    </strong>
    <%= link_to show_for_company_url(token: @item.token), show_for_company_url(token: @item.token) %><br/>
    <span style="font-style:italic; ">Send to your Service company an automaticity generated web-link that connect to your service and asked them to confirm</span>
  </div>
</div>
<br/>
<div class="margin_left">
  <h2>Services:</h2>
  <%= render partial: "services/list", locals: { list: (@services || @item.services) } %>
  <p>
    <br/>
    <span>
      <%= link_to 'Back to my panel', user_path(@item.user), class: "buttonsuser" %>
    </span>
  </p>
</div>
</div>
