/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1610px) {
  .transfer_panel .receive p {
    margin-top: 33%;
  }
}
@media only screen and (max-width : 1580px) {
  .lead_background .info_block{
    height: 747px;
  }
}
@media only screen and (max-width : 1450px) {
  .lead_background{
    .main_content{
      width: calc(100% - 80px);
    }
    .content_block{
      width: 100%;
      height: calc(300% + 60px);
      .items{
        width: 100%;
      }
      .first_box{
        width: calc(100% - 100px);
      }
      .second_box{
        width: calc(100% - 80px);
      }
      .last_box{
        width: calc(100% - 60px);
        .items_icons{
          margin-left: 10px;
          height: 83px;
          overflow: hidden;
          .item_icon{
            margin-bottom: 20px;
            margin-top: 2px;
          }
        }
      }
      .preview_content{
        width: calc(100% - 90px);
        .service_example{
          tr{
            td{
              padding: 10px;
            }
          }
        }
      }
    }
    .info_block{
      background: white;
    }
    .early_access{
      .form-actions{
        input{
          display: inline-block;
        }
      }
    }
    .footer{
      width: calc(100% - 80px);
    }
    .form_lead{
      padding-left: 0;
      width: 300px;
      p{
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width : 1450px) {
  .lead_background{
    .main_content{
      width: calc(100% - 80px);
    }
    .content_block{
      width: 100%;
      height: calc(300% + 60px);
      .items{
        width: 100%;
      }
      .first_box{
        width: calc(100% - 100px);
      }
      .second_box{
        width: calc(100% - 80px);
      }
      .last_box{
        width: calc(100% - 60px);
        .items_icons{
          margin-left: 10px;
          height: 83px;
          overflow: hidden;
          .item_icon{
            margin-bottom: 20px;
            margin-top: 2px;
          }
        }
      }
      .preview_content{
        width: calc(100% - 90px);
        .service_example{
          tr{
            td{
              padding: 10px;
            }
          }
        }
      }
    }
    .info_block{
      background: white;
    }
    .early_access{
      .form-actions{
        input{
          display: inline-block;
        }
      }
    }
    .footer{
      width: calc(100% - 80px);
    }
    .form_lead{
      padding-left: 0;
      width: 300px;
      p{
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width : 1450px) {

}
@media only screen and (max-width : 1360px) {
  .bacground_green .content .text{
    margin-left: 9%;
  }
  .bacground_green .content .slider{
    margin-right: 9%;
  }
  .function .transfer{
    height: 160px;
  }
  .function .delete{
    height: 160px;
  }
}
@media only screen and (max-width : 1300px) {
  .function .transfer img {
    right: 35%;
  }

  .function .transfer p {
    width: 42%;
  }

  .function .delete img {
    right: 90px;
  }
}
@media only screen and (max-width : 1280px) {
  .bacground_green .content .text{
    margin-left: 3%;
  }
  .bacground_green .content .slider{
    margin-right: 3%;
  }
  .field .additional_photo{
    margin-right: 13px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 1140px) {
  .function .transfer img {
    right: 41%;
  }

  .function .transfer p {
    width: 38%;
  }

}
@media only screen and (max-width : 1120px) {
  .bacground_green .content .text{
    width: 40%;
  }
  .lead_background{
    .info_block.home{
      .content{
        .block{
          width: 90%;
          display: inline-block;
          margin: 0 auto;
          float: none;
          height: auto;
          .info_text{
            p{  font-size: 18px;
              line-height:28px;
              margin-bottom: 10px;
              text-align: center;
            }
            span{
              font-size: 16px;
              text-align: center; 
            }
          }
        }
        .photo{
          display: none;
        }
      }
      .car_block{
        width: 90%;
        display: inline-block;
        img{
          height: 196px;
          width: auto;
        }
        .info_cars{
          height:  196px;
          width: auto;
          .text{
            p{
              font-size: 18px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width : 1024px) {
  .second_text{
    width: 80%;
  }
  .bacground_green .content .text{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    margin: 0 0 25px 0;
  }
  .bacground_green .content .text .info{
    width: 100%;
    text-align: center;
  }
  .bacground_green .content .text .info_small{
    width: 100%;
    text-align: center;
  }
  .bacground_green {
    height: 1000px;
  }
  .bacground_green .content .slider{
    margin-right: calc(50% - 270px);
  }
  .function .transfer{
    height: 200px;
  }
  .function .delete{
    height: 200px;
  }
  .background_green_static_pages {
    position: relative;
    top: -12px;

    h1{
      text-align: left;
      display: inline;
      left: -72px;
      position: relative;
    }

    .content_static_pages{
      width: calc(100% - 50px);
      margin-top: 40px;

      .half_of_static, div{
        width: 100%;
      }

      h1{
        display: block;
        margin-left: 69px;
      }
    }
  }
  .wrapper.homepage input#form_user + label{
    font-size: 13px;
  }
  .wrapper.homepage input#form_company + label{
    font-size: 13px;
  }
}

@media only screen and (max-width : 955px) {
  .service_create_identity p{
    display: none;
  }
  .service_create_identity{
    text-align: center;
    width: 100%;
  }
  .right_form_service_create{
    width: 620px;
    margin-left: 0;
    margin-top: 50px;
  }
  .photo_field{
    display: none;
  }
  .blank_image{
    display: none;
  }
  .mobile_hash{
    display: inline-block;
  }
}

@media only screen and (max-width : 917px) {
  .delete_but{
    top: 71px;
  }
  .function .transfer input{
    margin-top: 24px;
  }
  .blockchain_sertificate{
    display: none;
  }
}

@media only screen and (max-width : 768px) {
  .sent_image{
    margin-top: 30px;
  }
  .destroy_user + .edit_user.ng-valid ol li{
    width: 80%;
  }
  .actions_but a{
    padding: 11px calc(43% - 39px)
  }
  .function .transfer{
    padding-bottom: 70px;
  }
  .function .delete .delete_but input[type=submit]{
    left: 64px;
    top: 5px;
    padding-left: 30px;
    background-position: calc(54% - 61px);
    padding-top: 3px;
    width: 95%
  }
  .signup_form .done_button{
    margin-top: 50px;
  }
  .bacground_green {
    height: 625px;
  }
  .bacground_green .content .text{
    margin: 0 10% 40px;
    width: 80%;
    text-align: left;
  }
  .bacground_green .content .text .info{
    text-align: left;
  }
  .bacground_green .content .text .info_small{
    text-align: left;
  }
  .bacground_green .content .slider{
    margin: 0;
  }
  .menu {
    display: none;
  }

  .logo_mobile {
    display: block;
    img{
      float: left;
    }
    span{
      float: left;
      font-family: 'MuseoSansCyrl_2';
      font-size:20px;
      color:#ffffff;
      letter-spacing:0;
      line-height:20px;
      margin-left: 15px;
      margin-top: 2px;
      display: none;
    }
  }
  .logo {
    display: none;
  }

  .text {
    width: 70%;
    margin: 0 10% 40px;
  }

  .content .info {
    font-size: 30px;
    line-height: 32px;
    width: 100%;
  }

  .header {
    height: 81px;
  }

  .info_small {
    font-size: 17px;
    width: 100%;
    line-height: 19px;
  }

  .slider {
    background-color: transparent;
    margin: 0;
    width: 100%;
    height: 320px;
  }

  .container_slider {}

  .container_slider p {
    display: none;
  }

  .items {
    width: 500px;
    margin: 0;
  }

  .items img {
    margin: 0 36% 0 0;
  }

  .container_slider .button {
    width: 80%;
  }

  .owl-carousel {
    width: 100%;
  }

  .more_info .more {
    margin: 10px 0 0;
  }

  .arrow img {
    margin-bottom: 10px;
  }

  footer {
    height: 300px;
    text-align: center;
  }

  footer .footer {
    padding: 40px 10% 0;
    text-align: center;
  }

  .footer ul {
    display: none;
  }

  .footer .contacts {
    display: none;
  }

  .footer .contacts_mobile {
    display: inline-block;
  }

  .telephone_mobile {
    display: block;
  }

  footer hr {
    display: inline-block;
  }

  footer img {
    margin: 18px;
  }

  .btn_menu {
    display: inline-block;
    position: relative;
    right: -110px;
  }
  .header.main_page .btn_menu{
    right: 0;
  }

  .menu_mobile {
    display: inline-block;
    height: 100%;
  }
  .owl-item .items {
    text-align: center;
  }

  .slider .owl-item .items img {
    width: 275px;
    margin-left: -33%;
  }

  tbody tr {
    border: 0 solid rgba(211,211,211,0.50);
  }

  tr th {
    display: none;
  }

  .right_panel {
    display: none;
  }

  .items_list {
    margin-top: 0;
  }

  .item_logo img {
    padding-top: 10px;
  }

  .item_info {
    width: 100%;
  }

  .list_items {
    display: none;
  }

  .list_items_mobile {
    display: inline-block;
  }

  .items_list {
    display: none;
  }

  .slider_mobile_items {
    display: inline;
  }
  .slider_mobile_items .owl-item .items img {
    margin-left: 0;
  }

  .slider_mobile_items .owl-item .items {
    width: 100px;
    margin: 0;
  }

  .large-12.columns {
    margin-top: 0;
  }

  .right_image {
    display: none;
  }

  .right_image {
    display: none;
  }

  .left_form {
    width: 100%;
    float: center;
  }

  .signup_but {
    width: 80%;
  }

  .signup_but input {
    width: 100%;
  }

  .password {
    width: 80%;
    margin: 0 auto -5px;
    text-align: left;
  }

  .ico {
    display: none;
  }

  .password input {
    width: calc(100% - 18px);
    border-radius: 4px;
  }

  .left_form .signup_form .user_form .mail input{
    width: calc(100% - 30px);
    padding: 0 15px;
  }

  .left_form .signup_form .user_form .password input{
    width: calc(100% - 30px);
    padding: 0 15px;
  }
  .left_form .signup_form .user_form .name input{
    width: calc(100% - 30px);
    padding: 0 15px;
    margin-bottom: 0px;
  }
  .tab_item .user_form .field_with_errors{
    display: block;
  }
  .user_form svg{
    display: none;
  }
  .transfer_panel{
    width: 100%;
  }
  .mail {
    width: 80%;
    margin: 0 auto 20px;
    text-align: center;
  }
  .left_form .signup_form .user_form .mail .field_with_errors input{
    margin-bottom: -14px;
  }
  .left_form .signup_form .user_form .password .field_with_errors input{
    margin-bottom: 8px;
  }
  .mail input {
    width: calc(100% - 18px);
    border-radius: 4px;
  }
  .button_box{
    display: none;
  }

  .signup_info_right {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }

  .tabs {
    width: 81%;
    margin: 0 auto;
  }

  .tabs a {
    height: 100%;
    width: 100%;
  }
  .tabs .tab {
    width: 49.4%;
  }
  .tabs .home {
    width: calc(50% - 13px);
    margin-left: 11px;
  }
  .left_form .signup_form .user_form .password.home input {
    width: calc(100% - 49px);
    margin-left: 7px;
  }
  .tab.home a {
    padding: 18px 24px;
  }
  .name {
    width: 80%;
    margin: 0 auto 20px;
    text-align: center;
  }

  .name input {
    width: calc(100% - 18px);
    border-radius: 4px;
  }

  .second_text {
    margin: 10px auto 32px;
  }

  .main_text {
    margin-top: 30px;
  }

  .signup_info {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .signup_but {
    margin-bottom: 100px;
  }

  .logo_green img {
    width: 23px;
    height: 50px;
    margin-right: 80px;
  }

  .exit {
    background: transparent;
    width: 20px;
    height: 20px;
    margin-top: -20px;
  }

  .exit img {
    width: 17px;
    height: 17px;
    margin-right: 0;
    margin-top: 20px;
  }

  .main_text {
    width: 80%;
    margin: 30px auto 0;
    line-height: 24px;
  }


  .field_with_errors input {
    border: 1.3px solid red;
  }

  .field {
    width: calc(100% - 24px);
    float: left;
  }

  .attribute {
    width: 100%;
    input{
      width: calc(100% - 19px);
    }
    select{
      width: 100%;
    }
  }
  .chosen-container-single {
    width: calc(100% - 33px) !important;
  }
  .custom_attributes {
    width: calc(100% - 20px);
  }

  .field img {
    width: 91%;
  }

  .form .field_title {
    width: calc(100% - 19px);
    margin-top: 15px;
    input{
      width: calc(100% - 19px);
    }
  }

  .form .categories {
    width: calc(100% - 20px);
    margin-top: 15px;
    z-index: 300;
    select{
      width: 100%;
    }
  }

  .actions_but {
    width: 100%;
  }
  .actions_but input {
    width: calc(100% - 19px);
  }

  .actions_but .back {
    margin-top: 15px;
    margin-left: 0;
    width: calc(100% - 19px);
  }

  .field {
    margin-top: 10px;
  }

  .function .transfer {
    width: 100%;
    height: 339px;
    margin-bottom: 0;
  }

  .function .transfer p {
    width: 78%;
  }

  .function .transfer span {
    width: 80%;
    padding: 0 20px;
    margin-left: 8px;
  }

  .function .transfer input {
    width: calc(91% - 40px);
    margin-left: 25px;
    position: inherit;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 0;
  }

  .function .transfer img {
    display: none;
  }

  .function {
    width: 100%;
    margin-left: 0;
  }

  .function .delete {
    width: 100%;
    float: left;
    height: 210px;
  }

  .inputs_trans {
    width: 100%;
  }
  .grey{
    width: 100%;
    margin: 20px 0 0;
  }
  .page_items .item .item_list_panel .inputs_trans {
    width: 47%;
  }

  .function .inputs_trans input:nth-child(2) {
    position: relative;
    height: 50px;
    text-align: center;
    background-position: calc(52% - 51px);
    width: calc(91% - 24px);
    left: 0;
    padding-left: 36px;
  }
  .add_service {
    width: calc(100% - 40px);
    margin: 0;
    margin-left: 20px;
    float: left;
    margin-top: 15px;
  }
  .notice{
    margin-top: 0;
    bottom: 50px;
  }
  .field .image{
    width: 100%;
  }

  .function .delete .delete_but {
    top: -40px;
    left: 0;
    text-align: center;
    width: calc(91% - 24px);
    margin-top: 142px;
    margin-left: 25px;
    height: 50px;
  }

  .function .delete img {
    display: none;
  }

  .function .delete input {
    margin-left: 30px;
    float: left;
  }

  .function .delete span {
    padding: 0px 0 10px 30px;
  }

  .function .delete .delete_but a {
    top: 16px;
    position: relative;
  }

  .field .image.without_photo_input {
    width: 100%;
    a{
      display: none;
    }
  }
  .item .item_list_panel {
    width: 250px;
    margin: 10px auto;
  }

  .page_items .item p {
    text-align: center;
  }

  .page_items .item .add_new_item {
    margin: 1px auto;
  }

  .tabs{
    height: 57px;
  }
  .function .delete input[type=password]{
    width: calc(91% - 40px);
    margin-left: 25px;
    float: left;
    padding-right: 0;
  }
  .service_panel {
    width: calc(100% - 40px);
    margin: 0;
    margin-left: 20px;
    float: left;
    text-align: center;
  }
  .service_count.edit{
    border-top: 2px #d3d3d3 solid;
    width: 100%;
    margin-left: 0;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .service_count.edit span{
    font-family: 'MuseoSansCyrl_2';
    font-size:16px;
    color:#1f1f1f;
    letter-spacing:0;
    line-height:16px;
    text-align:left;
    margin-left: 25px;
    margin-right: 20px;
  }
  .item_info span{
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .item_info{
    padding: 0;
    width: calc(100% - 40px);
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .service_count{
    margin: 10px 0 0px 25px;
    width: calc(100% - 25px);
  }
  .mobile_notifications_button{
    display: inline-block;
  }
  .notify-link{
    top: 14px;
    width: 40px;
    height: 50px;
    display: block;
    float: right;
    margin-right: 55px;
    position: relative;
    left: 0;
  }
    .alarm-notifications.mobile{
    width: calc(100% - 4px);
    height: calc(101% + 290px);
    position: absolute;
    top: -102%;
    right: 0;
    z-index: 999;
    -webkit-transition: all 500ms cubic-bezier(0.070, 0, 0.285, 1);
    /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
    -moz-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
    -o-transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
    transition: all 500ms cubic-bezier(0.070, -0.020, 0.285, 1.650);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.070, 0, 0.285, 1);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
    -moz-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
    -o-transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);
    transition-timing-function: cubic-bezier(0.070, -0.020, 0.285, 1.650);

  }
  .notifications-header .mobile_logo{
    display: inline-block;
  }
  .notifications-header{
    padding-top: 25px;
  }
  .header-title{
    margin-top: 77px;
  }
  .notifications-header .exit_mobile{
    display: inline-block;
  }
  .alarm-notifications.mobile{
    z-index: 602;
  }
  .alarm-notifications.mobile.active{
    border: 0;
    border-radius: 0;
    width: 100%;
    top: 0;
  }
  .alarm-notifications.mobile.active .notifications-header{
    position: fixed;
    background: #ffffff;
    z-index: 600;
    width: calc(100% - 40px)
  }
  .alarm-notifications.mobile.active .alarm-notifications.mobile{
    top: 0px;
    position: absolute;
    height: 100%;
  }
  .user_information p{
    padding-left: 25px;
  }
  .notify-count{
    top: 15px;
    left: 9px;
  }
  .status_notification{
    margin-right: 0px;
    float: left;
    margin-top: 15px;
  }
  .list-item a{
    width: 85%;
  }
  .list-item{
    padding-left: 20px;
  }
  .list-item.read-notification a{
    padding-left: 22px;
  }
  .notifications-list{
    padding-top: 165px;
  }
    .service_create_identity p{
    display: block;
    float: left;
    width: 85%;
  }
  .service_create_identity h1{
    display: inline-block;
    margin-bottom: 20px;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .left_form_service_create .form_service_create ol li{
      float: left;
    }
  }
  .service_create_identity{
    text-align: left;
    width: calc(100% - 50px);
    &.edit{
      display: none;
    }
  }
  .left_form_service_create{
    width: calc(100% - 50px);
    margin-bottom: 70px;
  }
  .left_form_service_create .form_service_create strong label{
    width: 24.8%;
  }
  .left_form_service_create .form_service_create .half_form_field #service_kind{
    width: 100%;
    margin-bottom: 23px;
  }
  .left_form_service_create .form_service_create .half_form_field input{
    width: calc(100% - 17px);
  }
  .left_form_service_create .form_service_create .company_select select{
    width: 100%;
  }
  .left_form_service_create .form_service_create .textarea textarea{
    width: calc(100% - 18px);
    max-width: calc(100% - 18px);
    min-width: calc(100% - 18px);
  }
  .left_form_service_create .form_service_create .select .company_email input{
    width: calc(100% - 17px);
  }
  .left_form_service_create .form_service_create .price input{
    width: calc(100% - 17px);
  }
  .left_form_service_create .form_service_create .line{
    width: 100%;
  }
  .reminders .input.optional.service_reminder_custom input{
    width: calc(100% - 157px);
  }
  .left_form_service_create .reminders .date_icon{
    float: right;
    margin-right: 4px;
  }
  .form-actions input{
    display: block;
    width: 100%;
    margin-bottom: 35px;
  }
  .form-actions a{
    margin-left: 0;
    width: 100%;
    display: block;
    padding: 14px 0;
    margin-top: 15px;
  }
  .right_form_service_create{
    display: none;
  }
  .left_form_service_create .form_service_create .half_form_field.half{
    width: 100%;

  }
  .left_form_service_create .form_service_create .half_form_field.half input{
    width: calc(100% - 15px);
  }
  .left_form_service_create .form_service_create .half_form_field.half.first input{
    width: calc(100% - 15px);
  }
  .left_form_service_create .form_service_create .half_form_field.first input{
    width: calc(100% - 15px);
  }
  .left_form_service_create .form_service_create .half_form_field select{
    width: 100%;
  }
  .change_password{
    height: 221px;
  }
  .form-actions.user{
    display: block;
    width: 100%;
  }
  .left_form_service_create .form_service_create .half_form_field.half.city{
    margin-top: 0;
  }
  .destroy_user input{
    width: calc(100% - 20px);
    padding-right: 0;
  }
  .destroy_user .delete_button{
    display: block;
    text-align: right;
  }
  .destroy_user .delete_button input{
    top: -46px;
    right: 7px;
  }
  .service_create_identity .green{
    margin-left: 0;
  }
  .select.reminder{
    width: 120px;
    float: left;
  }
  .form-actions.user a{
    margin-left: 0px;
  }
  .destroy_user + .edit_user.ng-pristine.ng-valid{
    margin-top: -165px;
  }
  .destroy_user{
    top: 1221px;
  }
  .destroy_user.company {
    top: 1500px;
  }
  .destroy_user + .edit_company.ng-pristine.ng-valid {
    margin-top: -165px;
  }
  .lead_background .form_lead{
    position: inherit;
    top: 100px;
    width: calc(100% - 60px);
    padding: 0 30px;
  }
  .lead_background .form_lead .form-inputs{
    width: calc(100% - 50px);
  }
  .lead_background .form_lead .form-inputs input{
    width: 100%;
  }
  .lead_background .form_lead .form-actions{
    width: 100%;
  }
  .lead_background .form_lead .form-actions input{
    width: 100%;
  }
  .lead_background .form_lead h1{
    font-size: 36px;
    line-height: 50px;
  }
  .lead_background .form_lead .form-inputs span{
    display: none;
  }
  .social_net{
    width: 100%;
    text-align: center;
  }
  footer img {
    float: none;
  }
  .reports_buttons{
    display: none;
  }
  .lead_background .form_lead.right{
    width: 100%;
    background: #149b4c;
    margin-top: 0;
    z-index: 1;
    position: relative;
  }
  .lead_background .form_lead.right .form .form-inputs input{
    width: 100%;
  }
  .lead_background .form_lead.right .form{
    top: 0;
  }
  .lead_background .form_lead.right h2{
    display: none;
  }
  .lead_background .form_lead p{
    color: white;
  }
  .form_lead_background{
    display: none;
  }
  .main_page_background{
    display: none;
  }
  .lead_background{
    .main_content{
      margin-top: 140px;
      .logo_lead{
        display: none;
      }
    }
  }
  .header.main_page{
    position: fixed;
    z-index: 900;
    width: 100%;
    top: 0;
    background: white;
    text-align: right;
  }
  .lead_background{
    .main_content{
      width: 100%;
      padding: 0;
      padding-top: 80px;
      background: #149b4c;
      height: 667px;
      .menu_list{
        display: none;
      }
      .down_icon{
        display: none;
      }
    }
    .form_lead{
      background: #149b4c;
      margin-top: 42px;
      height: auto;
      h1{
        line-height:40px;
        font-size:30px;
        color:#ffffff;
        letter-spacing:0;
        line-height:40px;
        text-shadow:0 2px 5px rgba(0,0,0,0.05);
        text-align:left;
      }
      &.right{
        height: auto;
      }
    }
    .content_block{
      .items_mobile{
        display: inline-block;
      }
      h3{
        display: inline-block;
        font-size:18px;
        color:#222222;
        letter-spacing:0.5px;
        line-height:28px;
        text-align:center;
        background:#f7fbf9;
        width: 100%;
        font-family: 'MuseoSansCyrl_2';
        border-top: 1px solid rgba(211, 211, 211, 0.5);
        padding: 30px 0;
        margin-top: -2px;
      }
      .slider_mobile{
        display: block;
        background:#f7fbf9;
        .container_slider{
          .item{
            .feature{
              display: inline-block;
              margin-bottom: 30px;
              text-align: left;
              padding: 0 25px;
              width: calc(100% - 50px);
              .circle{
                display: inline-block;
                float:left;
                width: 50px;
                height: 50px;
                margin: 30px;
                margin-top: 0;
                text-align: center;
                margin-left: 0;
                margin-bottom: 127px;
                img{
                  width: 22px;
                  margin-top: 12px;
                }
              }
              p{
                display: block;
                font-size:16px;
                color:#222222;
                letter-spacing:0;
                line-height:16px;
                text-align:left;
                font-family: 'MuseoSansCyrl_2';
                margin-bottom: 6px;
              }
              span{
                opacity:0.6;
                font-family: 'MuseoSansCyrl_1';
                font-size:14px;
                color:#1f1f1f;
                letter-spacing:0;
                line-height:22px;
                text-align:left;
                width: 200px;
              }
            }
          }
        }
      }
      margin-top: -323px;
      p.title{
        font-size:18px;
        color:#222222;
        letter-spacing:0;
        line-height:28px;
        text-align:center;
        width: 80%;
        margin: 30px auto;
        padding-top: 0;
      }
      .items{
        display: none;
      }
      .items_mobile{
        text-align: left;
        margin-left: 20px;
        span{
          font-size:16px;
          color:#222222;
          letter-spacing:0;
          line-height:16px;
          text-align:center;
          padding: 10px;
          text-align: left;
          display: inline-block;
          background:#f2f2f2;
          border-radius: 4px;
          margin-bottom: 5px;
        }
      }
      .first_box{
        display: none;
      }
      .second_box{
        display: none;
      }
      .last_box{
        margin-top: 30px;
        .circle{
          &:nth-child(2){
            display: none;
          }
          &:nth-child(3){
            display: none;
          }
        }
      }
      .preview_content{
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 40px;
        border: 0px solid;
        border-top: 1px solid #ebebeb;
        span{
          display: none;
        }
        p:nth-child(2){
          display: none;
        }
        .button_icon{
          display: none;
        }
        .icon_service{
          display: none;
        }
        .icon_service.second{
          display: none;
        }
        .icon_service.three{
          display: none;
        }
        .function_circle{
          margin: 0 7px;
        }
        h1{
          font-size:18px;
          color:#222222;
          letter-spacing:0;
          line-height:28px;
          text-align:center;
          width: 80%;
          margin: 30px auto 0;
        }
        .info{
          width: 80%;
          p{
          font-size:16px;
          color:#1f1f1f;
          letter-spacing:0;
          line-height:26px;
          text-align:center;
          }
        }
        .service_example{
          display: none;
        }
        .service_example_mobile{
          margin-top: 30px;
          display: inline-block;
          width: calc(100% - 40px);
          text-align: left;
          background:#ffffff;
          border:1px solid rgba(211,211,211,0.50);
          border-bottom: 0px;
          border-radius:8px 8px 0 0;
          padding: 10px;
          .service{
            max-width: 265px;
            img{
              width: 12px;
            }
            .box{
              width: 18px;
              height: 18px;
              display: inline-block;
              border-radius: 4px;
              border: 2px solid #A4A4A4;
              margin-right: 10px;
              margin-bottom: 50px;
              float: left;
            }
            span{
              display: inline-block;
              font-family: 'MuseoSansCyrl_1';
              float: none;
              font-size:13px;
              color:#1f1f1f;
              letter-spacing:0;
              line-height:13px;
              text-align:left;
              display: inline-block;
              vertical-align: middle;
              margin-bottom: 10px;
              margin-top: 5px;
            }
          }
        }
      }
    }
    .key_features{
      margin-top: 0;
      border-top:1px solid rgba(211,211,211,0.50);
      display: none;
    }
    .slider_mobile{
      .container_slider{
        .owl-pagination{
          .owl-page{
            background:#b9e0c8;
            width:10px;
            height:10px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 5px 20px;
            &.active{
              background:#149b4c;
            }
          }
        }
      }
    }
    .info_block{
      .type_of_users{
        width: 90%;
        margin: 0 auto;
        height: 600px;
        h2{
          font-size:18px;
          font-family: 'MuseoSansCyrl_2';
          color:#222222;
          letter-spacing:0;
          line-height:28px;
          text-align:center;
          margin-top: 30px;
        }
      }
    }
    .early_access{
      .simple_form{
        display: none;
      }
      p{
        width: 80%;
      }
    }
    .footer{
      .footer_links{
        display: none;
      }
    }
  }
  .lead_background .info_block{
    height: 970px;
  }
  footer{
    display: inline-block;
  }
  .item_info{
    .date{
      display: none;
    }
    .services{
      display: none;
    }
  }
  .first_service{
    display: none;
  }
  .field {
    .additional_photo{
      width: calc(50% - 7px);
      height: 100px;
      .image{
        height: 100%;
        max-height: 150px;
        label{
          line-height: 100px;
        }
        svg{
          margin-top: 37px;
        }
      }
    }
    textarea{
      min-width: calc(100% - 19px);
      max-width: calc(100% - 19px);
    }
  }
  .field .additional_photo:nth-child(5){
    margin-right: 0;
  }
  .first_service_mobile{
    display: block;
  }
  .service_maket_mobile{
    display: block;
  }
  .notice{
    padding: 15px 20px;
    background: #fff4e0;
    border: 1px solid #ffb730;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.4);
    width: calc(100% - 80px);
    margin-left: 18px;
    height: auto;
    position: fixed;
    bottom: 26px;
    span{
      background: none;
      border: none;
      box-shadow: none;
      padding: 0;
      line-height: 21px;
    }
  }
  .error{
    padding: 15px 20px;
    background:#fce8e7;
    border:1px solid #e82110;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.4);
    width: calc(100% - 80px);
    margin-left: 18px;
    height: auto;
    position: fixed;
    bottom: 26px;
    span{
      background: none;
      border: none;
      box-shadow: none;
      padding: 0;
      line-height: 21px;
    }
  }
  .error_explanation{
    padding: 15px 20px;
    background:#fce8e7;
    border:1px solid #e82110;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.4);
    width: calc(100% - 80px);
    margin-left: 18px;
    height: auto;
    position: fixed;
    bottom: 26px;
    top: auto;
    left: 0;
    p{
      background: none;
      border: none;
      box-shadow: none;
      padding: 0;
      line-height: 21px;
    }
    ul{
      height: 23px;
      li{
        background: none;
        border: none;
        box-shadow: none;
        display: inline;
        border-radius: 4px;
        min-width: 300px;
        padding: 20px 0px;
        line-height: 27px;
      }
    }
  }
  .error_explanation.service{
      width: 100%;
      height: 0px;
      background: none;
      border: none;
      box-shadow: none;
      ul{
        padding: 15px 20px;
        background:#fce8e7;
        border:1px solid #e82110;
        position: fixed;
        width: calc(100% - 72px);
        left: 0;
        margin-left: 15px;
        margin-top: -40px;
        border-radius: 4px;
        height: 24px;
      }
    }
  .field .image.with_photo{
    a{
      display: inline-block;
      right: 4%;
      margin-top: 16px;
    }
    input{
      display: none;
    }
  }
  .field{
    .additional_photo{
      .image{
        a{
          display: inline-block;
          margin-top: -127px;
          margin-left: 9%;
        }
      }
    }
    .image{
      input{
        height: 30%;
      }
    }
  }
  .field .additional_photo .image img:not([src]) ~ a{
    display: none;
  }
  .field .additional_photo .image img[src=" "] ~ a{
    display: none;
  }
  .left_form_service_create .form_service_create .half_form_field.first_name{
    margin-bottom: -14px;
  }
  .left_form_service_create .form_service_create .half_form_field{
    margin-bottom: -14px;
  }
  .service_view{
    &.edit{
      margin-top: 0;
    }
    .left_part{
      width: calc(100% - 40px);
      padding: 0 20px;
      .service_kind{
        .mobile_item_photo{
          width: 100%;
          margin-top: 25px;
          img{
            width: 100%;
            border-radius: 4px;
            margin-top: 25px;
          }
          display: inline-block;
          span{
            float: left;
            font-size: 13px;
          }
          p{
            display: none;
            line-height: 13px;
            margin: 0 3px;
            font-size: 13px;
            &:nth-child(1){
              display: inline;
              margin-left: 5px;
            }
            &:nth-child(2){
              display: inline;
            }
            &:nth-child(3){
              display: inline;
            }
            &:nth-child(4){
              display: inline;
            }
          }
          .price{
            width: calc(100% - 40px);
            background:#f8f8f8;
            border-radius:4px;
            padding: 17px 20px;
            margin-top: 25px;
          }
        }
      }
      .photo{
        img{
          width: calc(50% - 7px);
          margin-right: 3px;
        }
      }
      .files{
        .file{
          width: calc(100% - 30px);
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
      .button{
        display: none;
      }
      .mobile_buttons{
        display: inline-block;
        .button{
          border-radius: 4px;
          background:#f3f3f3;
          padding: 15px 20px;
          display: inline-block;
          float: left;
          margin-bottom: 130px;
          margin-right: 20px;
          img{
            width: 16px;
            float: left;
          }
          span{
            font-family:MuseoSansCyrl_2;
            font-size:14px;
            color:#149b4c;
            letter-spacing:0;
            text-align:left;
            margin-left: 10px;
            line-height: 23px;
            &.red{
              color: red;
            }
          }
        }
      }
    }
    .right_part{
      display: none;
    }
    &.edit{
      .left_part{
        width: 100%;
        padding: 0;
      }
    }
  }
  .confirm_panel{
    position: relative;
    margin-top: -100px;
    .center_block{
      .button{
        margin-left: 20px;
        width: calc(100% - 80px);
        margin-bottom: 15px;
        &.reject{
          width: calc(100% - 80px);
        }
      }
    }
  }
  .popup{
    .window{
      width: 280px;
      left: calc(50% + 180px);
      .content{
        .button{
          padding: 10px 20px;
          margin-left: 4px;
        }
      }
    }
  }
  .service_photos{
    .image-upload-box{
      margin: 0 0 20px 0;
      width: calc(50% - 8px);
      &:nth-child(3){
        margin-left: 7px;
      }
      &:nth-child(4){
        margin-left: 10px;
      }
      a{
        display: inline-block;
        margin-top: 5px;
      }
    }
  }
  .left_form_service_create .form_service_create .service_photos .photo_input{
    width: 100%;
    input{
      width: 100%;
    }
  }
  .left_form_service_create .form_service_create .service_photos .photo_input svg{
    left: calc(50% - 10px);
  }
  .left_form_service_create{
    .form_service_create{
      .files{
        .field_files{
          width: 100%;
          input{
          width: 80%;
          }
        }
      }
    }
  }
  .left_form_service_create .form_service_create .half_form_field .added_date input{
    margin-left: 0;
    width: calc(100% - 157px);
  }
  .left_form_service_create{
    .added_date{
      width: 100%;
      margin-bottom: 34px;
      margin-top: 10px;
      .field_name{
        margin-left: 0;
      }
      .date_icon{
        float: right;
        margin-right: 4px;
      }
    }
  }
  .block_multi_srvice{
    height: 100px;
  }
  .add_multi_service{
    margin-top: -80px;
  }
  .lead_background .form_lead.right.slideout{
    right: -0%;
  }
  .lead_background .footer{
   height: 29px;

  }
  .popup.reject_srvice .window .content input{
    padding: 9px 24px;
  }
  .user_form.invite{
    input {
      width: calc(100% - 60px)
    }
    form{
      p:last-child{
        input{
          width: calc(100% - 40px)
        }
      }
    }
  }
  .service_view .left_part .company_info .block{
    height: 112px;
  }
  .donation_content{
    margin-left: 25px;
    width: calc(100% - 50px);
    .form-inputs{
      width: 100%;
      padding: 0;
      input{
        width: calc(100% - 16px);
      }
      select{
        width: calc(100% - 0px);
      }
    }
    .values{
      margin-top: 0;
      input.string.optional{
        width: calc(100% - 17px);
      }
    }
    .form-action{
      input{
        width: 100%;
      }
      a{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
  .lead_background .form_lead.right.slideout{
    position: relative;
  }
  .lead_background .form_lead.right .form.home{
    width: 100%;
    margin-left: 0;
    height: 500px;
    display: none;
    .tabs{
      margin-top: 20px;
    }
  }
  .signup_but.home{
    width: 75%;
    padding-left: 9px;
  }
  .form.home.second{
    display: none;
  }
  .donation_background{
    margin-top: 50px;
  }
  .footer.mobile{
    display: inline-block;
    padding-top: 0;
    height: 240px;
    .social_net{
      img{
        width: 18px;
        margin: 0 18px;
      }
    }
  }
  .hint-list{
    max-width: calc(100% - 51px);
  }
  .item_errors{
    width: auto;
    margin: 0 auto;
    height: auto;
  }
  .cookies_panel{
    right: 8px;
    width: calc(100% - 60px);
    bottom: 7px;
    p{
      font-size: 11.7px;
    }
  }
  .sign_up_panel{
    padding: 30px 20px;
    width: calc(100% - 40px);
    overflow: hidden;
    .content {

      .right_part{
        display: none;
      }
      .left_part{
        width: 100%;
        text-align: center;
        margin-top: 210px;

        p{
          width: 80%;
          font-size:18px;
          margin: 0 auto;
          line-height:28px;
          text-align: center;
        }
        input{
          margin-top: 30px;
          width: calc(100% - 18px);
          max-width: 800px;
        }
        .registration_link{
          width: 100%;
          max-width: 800px;
        }
        .item.panel{
          top: -190px;
          left: calc(20% - 109px);
          width: calc(10% + 150px);
          max-width: 300Px;
          z-index: 10;
          &.bike{
            right: calc(20% - 109px);
            top: -200px;
            left: auto;
            z-index: 1;
          }
        }
        .circle_yellow{
          top: 11%;
          right: auto;
          left: -24px;
        }
        .circle_yellow_2{
          right: -9px;
        }
        .white_star_fill{
          display: none;
        }
        .circle_white{
          left: 0;
          right: auto;
        }
        .white_star{
          right: -26px;
        }
      }
    }
  }
  .lead_background{
    .info_block.home{
      margin-top: 0;
      padding-top: 30px;
      .ui_examples{
        margin-top: 60px;
        div{
          text-align: left;
        }
        input + label{
          width: calc(50% - 20px);
          font-size: 14px;
        }
        .window{
          margin-top: 50px;
          width: 100%;
          .content{
            margin: 0;
            width: calc(100% - 40px);
            &.corporate{
              margin: 0;
              width: calc(100% - 40px);
              padding: 0 20px;
              padding-bottom: 60px;
            }
            .mobile_ui{
              width: 92%;
              margin: 0 auto;
              max-width: 325px;
              display: block;
              float: none;
            }
            img{
              display: none;
            }
            .text{
              width: 100%;
              padding: 0;
              p{
                font-size: 16px;
              }
              span{
                font-size: 14px;
                margin-bottom: 30px;
              }
            }
          }
        }
      }
      .content{
        min-width: 250px;
        width: calc(100% - 40px);
        padding: 0 20px;
        .block{
          float: none;
          width: 100%;
          text-align: center;
          height: auto;
          padding-top: 30px;
          img{
            display: block;
            margin: 0 auto;
            float: none;
          }
          .info_text{
            width: calc(100% - 40px);
            margin: 0 10px;
            margin: 30px 0 38px;
            p{
              font-size: 18px;
              line-height:28px;
              margin-bottom: 10px;
              text-align: center;
            }
            span{
              width: 100%;
              font-size: 16px;
              text-align: center; 
              display: inline-block;            
            }
          }
        }
        .photo{
              display: none;
            }
        .car_block{
          width: 100%;
          min-width: 250px;
          margin: 50px 0 0;
          img{
            width: 100%;
            height: auto;
            border-radius: 10px  10px 0 0;
          }
          .info_cars{
            border-radius: 0 0 10px 10px;
            width: 100%;
            height: auto;
            padding: 30px 0;
            .text{
              width: calc(100% - 40px);
              padding: 0 20px;
              text-align: center;
              p{
                font-size: 18px;
                line-height:28px;
                margin-bottom: 10px;
                text-align: center;
              }
              span{
                font-size: 16px;
                text-align: center; 
              }
            }
             
          }
        }
      }
        
    }
  }
  .lead_background .form_lead h2{
    width: 100%;
    line-height:24px;
    font-size:16px;
    margin-bottom: 20px;
  }
  .sign_up_mobile_button{
    display: flex;
  }
  .sign_in_button{
    display: inline-block;
  }
  .background_green_static_pages{
    .application{
      display: none;
    }
    .content{
      padding-left: 25px;
      .block{
        width: calc(100% - 100px);
        margin-top: 50px;
      }
      .part{
        width: calc(100% - 40px);
      }
      .team{
        .member{
          width: 100%;
          text-align: center;
          .photo{
            width: calc(100% - 20px);
            text-align: center;
            img{
              width: 70%;
            }
          }
          .info{
            width: calc(100% - 20px);
            margin-top: 15px;
            h4{
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  #from{
    width: calc(100% - 150px);

  }
  #to{
    width: calc(100% - 150px);
  }

  .reminders.kpi .field_name{
    width: 100%;
  }
  .reminders.kpi{
    width: 100%;
    .date_icon{
      display: none;
    }
  }
  .left_form_service_create.kpi{
    .chart_element{
      width: 100%;
      canvas{
        width: 100%;
      }
    }
  }
  .left_form_service_create .form_service_create .half_form_field.service_form.consumption{
    position: relative;
    margin-top: 40px;
  }
  .left_form_service_create .form_service_create .price.road{
    margin-top: 0;
  }
  .left_form_service_create .reminders .date_icon.road{
    display: none;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {}
/* Small Devices, Tablets */
@media only screen and (max-width : 545px) {
  .page_items .item {
    width: calc(100% - 43px);
    text-align: center;
    height: 200px;
  }
  .page_items .item .add_new_item{
    width: calc(100% - 4px);
    text-align: center;
    p{
      margin-left: 0;
      width: 100%;
      text-align: center;
    }
  }
  .tabs a{
    padding: 20px 27%;
  }
}
@media only screen and (max-width : 510px) {
  .function .delete .delete_but input[type=submit]{
    background-position: calc(56% - 61px);
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .service_panel img {
    height: 15px;
    margin: 0 4px -3px 8px;
  }

  .service_panel img:nth-child(1) {
    margin-left: 0;
  }

  .first_service {
    width: calc(100% - 32px);
    margin: 0;
  }
}

@media only screen and (max-width : 356px) {
}

@media only screen and (max-width : 340px) {
  .slider .owl-item .items img {
    width: 255px;
    margin-left: -38%;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .slider .owl-item .items img {
    width: 230px;
    margin-left: -45%;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}
/* Small Devices, Tablets */
@media only screen and (min-width : 640px) {}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}
