<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "shared/google_analytics" %>
    <title>distodi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'new', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'new', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body ng-app="DistodiApp" ng-strict-di>
    <div class="item_header" ng-controller="TopPanelController as controller" ng-click="controller.clickedBlank()">
      <% %i( notice error ).map { |key| [key, flash[key]] }.each do |msg, notice| %>
        <% if notice.present? %>
          <div class="<%= msg %>">
            <span><%= notice %></span>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="sign_in_content">
      <div class="left_form">
        <div class="logo_green">
          <%= link_to image_tag('logo_green.png', alt: t(".distodi")), root_path %>
          <%= link_to root_path do %>
          <div class="exit">
            <%= image_tag('cross.png', alt: t(".close")) %>
          </div>
          <% end %>
        </div>
        <div class="main_text">
          <%= t(".welcome") %>
        </div>
        <div class="second_text">
          <%= t(".invitation") %>
        </div>
        <div class="signup_form">
          <div class="wrapper">
            <div class="tabs_content">
              <div class="tab_item">
                <div class="user_form invite">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
          <div class="signup_info">
            <%= (t(".agreementt")).html_safe %>
          </div>
        </div>
      </div>
      <div class="right_image invite">

      </div>
      <div class="white_box">
      </div>
    </div>
  </body>
</html>
