<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "shared/google_analytics" %>
    <title>distodi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'new', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'new', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body ng-app="DistodiApp" ng-strict-di>
    <div class="item_header" ng-controller="TopPanelController as controller" ng-click="controller.clickedBlank()">
      <% %i( notice error ).map { |key| [key, flash[key]] }.each do |msg, notice| %>
        <% if notice.present? %>
          <div class="<%= msg %>">
            <span><%= notice %></span>
          </div>
        <% end %>
      <% end %>
      <div class="item_logo">
        <% if user_signed_in? %>
          <% if current_user.items.count == 1 %>
            <%= link_to image_tag('logo_menu.png', alt: 'distodi.logo'), current_user.items.first %>
          <% else %>
            <%= link_to image_tag('logo_menu.png', alt: 'distodi.logo'), root_path %>
          <% end %>
        <% else %>
          <%= link_to image_tag('logo_menu.png', alt: 'distodi.logo'), root_path %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="right_panel list">
          <div class="more_menu" ng-click="controller.clickedToggleMoremenu($event)" ng-class="$root.activePopup === 'settings' ? 'active' : '' ">
            <%= picture_show(current_user) %>
          </div>
          <div class="more_menu_popup popup-animation" ng-class="$root.activePopup === 'settings' ? 'active' : '' ">
            <span>
              <%= my_panel %>
            </span>
            <div class="user_information">
              <p><%= current_user.email %></p>
              <span><%= current_user.items.count %> <%=t(".items")%></span>
              <%= current_user.services.count %> <%=t(".services")%>
            </div>
            <div class="line"></div>
            <div class="work_panel">
              <%= link_to t(".show_my_profile"), user_path(current_user) %>
              <%= link_to t(".my_items"), items_path %>
              <%= link_to t(".help"), static_pages_about_path %>
              <p class="language_controller"><%= t(".language") %></p>
              <div class="language_list">
                <p><%= link_to_unless_current "English", locale: "en" %></p>
                <p><%= link_to_unless_current "Czech", locale: "cz" %></p>
              </div>
              <%= link_to t(".donation"), donation_path %>
              <%= logout_link %>
            </div>
          </div>
        </div>
        <%= render "shared/notifications" %>
        <div class="btn_menu black">
          <div class="btn_line"></div>
          <div class="btn_line"></div>
          <div class="btn_line"></div>
        </div>
        <div class="menu_mobile">
          <% if user_signed_in? %>
            <% if current_user.items.count == 1 %>
              <%= link_to image_tag('logo_menu.png', alt: 'distodi.logo'), current_user.items.first %>
            <% else %>
              <%= link_to image_tag('logo_menu.png', alt: 'distodi.logo'), root_path %>
            <% end %>
          <% else %>
            <%= link_to image_tag('logo_menu.png', alt: 'distodi.logo'), root_path %>
          <% end %>
          <span class="name">
              <%= my_panel %>
          </span>
          <div class="user_information">
            <p><%= current_user.email %></p>
            <span><%= current_user.items.count %> <%=t(".items")%></span>
            <%= current_user.services.count %> <%=t(".services")%>
          </div>
          <div class="line"></div>
          <div class="work_panel">
            <%= link_to t(".show_my_profile"), user_path(current_user) %>
            <%= link_to t(".my_items"), items_path %>
            <%= link_to t(".help"), static_pages_about_path %>
            <p class="language_controller"><%= t(".language") %></p>
            <div class="language_list">
              <p><%= link_to_unless_current "English", locale: "en" %></p>
              <p><%= link_to_unless_current "Czech", locale: "cz" %></p>
            </div>
            <%= logout_link %>
          </div>
        </div>
      <% else company_signed_in? %>
        <div class="right_panel list">
          <div class="company_verification <%= current_company.verified %> layout"></div>
          <div class="more_menu" ng-click="controller.clickedToggleMoremenu($event)" ng-class="$root.activePopup === 'settings' ? 'active' : '' ">
            <%= picture_show(current_company) %>
          </div>
          <div class="more_menu_popup popup-animation" ng-class="$root.activePopup === 'settings' ? 'active' : '' ">
            <span>
              <%= my_panel %> <div class="company_verification <%= current_company.verified %> menu"></div>
            </span>
            <div class="user_information">
              <p><%= current_company.email %></p>
              <%= current_company.services.count %> <%=t(".services")%>
            </div>
            <div class="line"></div>
            <div class="work_panel">
              <%= link_to t(".show_my_profile"), company_path(current_company) %>
              <%= link_to t(".services_assigned_to_me"), authenticated_root_company_path %>
              <%= link_to t(".my_services"), dashboard_path %>
              <%= link_to t(".my_items"), items_path %>
              <%= link_to t(".help"), static_pages_about_path %>
              <p class="language_controller" ><%= t(".language") %></p>
              <div class="language_list">
                <p><%= link_to_unless_current "English", locale: "en" %></p>
                <p><%= link_to_unless_current "Czech", locale: "cz" %></p>
              </div>
              <%= link_to t(".donation"), donation_path %>
              <%= logout_link %>

            </div>
          </div>
        </div>
        <%= render "shared/notifications" %>
        <div class="btn_menu black">
          <div class="btn_line"></div>
          <div class="btn_line"></div>
          <div class="btn_line"></div>
        </div>
        <div class="menu_mobile">
          <%= link_to image_tag('logo_menu.png', alt: 'distodi.logo'), root_path %>
          <span class="name">
              <%= my_panel %>
          </span>
          <div class="user_information">
            <p><%= current_company.email %></p>
          </div>
          <div class="line"></div>
          <div class="work_panel">
            <%= link_to t(".show_my_profile"), company_path(current_company) %>
            <%= link_to t(".help"), static_pages_about_path%>
            <p class="language_controller"><%= t(".language") %></p>
             <div class="language_list">
              <p><%= link_to_unless_current "English", locale: "en" %></p>
              <p><%= link_to_unless_current "Czech", locale: "cz" %></p>
            </div>
            <%= logout_link %>
          </div>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
