<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "shared/google_analytics" %>
    <title>distodi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'new', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'new', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body class="main_page" ng-app="DistodiApp" ng-controller="SignInController as controller" ng-strict-di>
    <div class="header main_page">
      <div class="logo">
        <%= link_to image_tag('logo.png', alt: 'distodi.logo'), root_path %>
      </div>
      <div class="logo_mobile">
        <%= link_to root_path do %>
          <%= image_tag "logo_menu.png" %>
          <span>Distodi</span>
        <% end %>
      </div>
      <div class="sign_in_button">
        <%= link_to(t(".sign_in"), new_user_session_path) %>
      </div>
      <div class="menu">
        <ul>
          <li><%= link_to(t(".updates"), '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to(t(".questions"), '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to(t(".lang"), '#', class: 'menu__nav-link_hidden') %></li>
          <li><%= link_to(t(".sign_in"), new_user_session_path) %></li>
        </ul>
      </div>
      <div class="btn_menu">
        <div class="btn_line"></div>
        <div class="btn_line"></div>
        <div class="btn_line"></div>
      </div>
      <div class="menu_mobile">
        <%= image_tag "logo_menu.png" %>
        <div class="content pages">
          <ul>
            <li><%= link_to t(".features"), static_pages_about_path %></li>
            <li><%= link_to t(".for_investors"), static_pages_for_investors_path %></li>
            <li><%= link_to t(".about"), static_pages_about_path %></li>
            <li><%= link_to t(".security"), static_pages_security_path %></li>
            <li><%= link_to t(".terms"), static_pages_terms_path %></li>
            <li><%= link_to t(".careers"), static_pages_careers_path %></li>
            <li><%= link_to t(".donation"), donation_path %></li>
            <li><%= link_to t(".privacy"), static_pages_security_path %></li>
          </ul>
        </div>
        <div class="content">
          <ul>
            <li><%= link_to(t(".sign_in"), new_user_session_path) %></li>
            <li><%= link_to(t(".sign_up"), new_user_registration_path) %></li>
          </ul>
        </div>
        <div class="content last">
          <ul>
            <li><label for="language_panel"><%= t(".language") %></label></li>
            <input type="checkbox" id="language_panel">
            <div class="language_list">
              <li><%= link_to_unless_current t(".english"), locale: "en" %></li>
              <li><%= link_to_unless_current t(".czech"), locale: "cz" %></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
    <footer>
      <div class="footer">
        <ul>
          <li><%= link_to t(".about"), static_pages_about_path %></li>
          <li>•</li>
          <li><%= link_to t(".security"), static_pages_security_path %></li>
          <li>•</li>
          <li><%= link_to t(".terms"), static_pages_terms_path %></li>
          <li>•</li>
          <li><%= link_to t(".careers"), static_pages_careers_path %></li>
        </ul>
        <div class="contacts">
          <%= t(".year") %>, <%= link_to 'Distodi', root_path %>
        </div>
        <div class="contacts">
          <%= t(".telephobe_number") %>
        </div>
        <div class="contacts">
          <%= mail_to 'support@distodi.com'%>
        </div>
        <div class="contacts">
          <%= link_to(t(".terms"), '#', class: 'footer__nav-link footer__nav-link_hidden') %>
        </div>
        <div class="contacts_mobile"><%= t(".year") %>, <%= link_to 'Distodi', root_path %>, <%= mail_to 'support@distodi.com'%>
          <div><%= link_to t(".for_investors"), static_pages_for_investors_path %></div>
        </div>
        <div class="telephone_mobile"><a href="tel:<%= t(".telephobe_number") %>"><%= t(".telephobe_number") %></a></div>
        <!-- <hr> --><div class="social_net">
        <%= link_to image_tag('insta.png', alt: 'instagram'), t(".instagram_link") %>
        <%= link_to image_tag('you.png', alt: 'youtube'), t(".youtube_link") %>
        <%= link_to image_tag('twit.png', alt: 'twitter'), t(".twitter_link") %>
        <%= link_to image_tag('facebook.png', alt: 'facebook'), t(".facebook_link") %>
      </div>
    </div>
  </footer>
</body>
</html>
